{% extends 'base.html.twig' %}

{% block title %}Server error!{% endblock %}
{% block header %}{% endblock %}
{% block sidemenu %}{% endblock %}
{% block body %}
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                class="fa fa-angle-right"></i>
                    </li>
                    <li class="active"><a href="#">Error</a></li>
                </ol>
            </div>
        </div>
        <!-- add content here -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-box">
                    <h1 class="text-center font-weight-bold text-danger">Oops! A Server error Occurred <br>
                        <i class="fas fa-sad-tear text-center" style="font-size: 70px"></i>
                    </h1>
                    <h2 class="text-center">The server returned a "{{ status_code }} {{ status_text }}".</h2>
                    <h3 class="mt-4 text-center ">
                        Something is broken. We will fix it as soon as possible. Sorry for any inconvenience caused.
                    </h3>
                    <h4 class="text-center font-weight-bold text-danger"><a href="{{ path('dashboard') }}">
                        Return to your dashboard <i class="fa fa-arrow-left"></i></a></h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
{% endblock %}