<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admission form</title>
</head>
<body>
<form action="{{ link }}" class="col-md-12" method="post">
    <input type="hidden" name="selStudent" value="{{ selStudent.matricNo }}">
    <input type="hidden" name="transferfee" value="{{ transferfee }}">
    <input type="hidden" name="adminfee" value="{{ adminfee }}">
    <input type="hidden" name="praticalfee" value="{{ praticalfee }}">
    <input type="hidden" name="medicalfee" value="{{ medicalfee }}">
    <input type="hidden" name="tuitionfee" value="{{ tuitionfee }}">
    <input type="hidden" name="selDept" value="{{ selDept.id }}">
    <input type="hidden" name="selStudentLevel" value="{{ selStudentLevel }}">
    <input type="hidden" name="date" value="{{ date }}">
    <h5 class="text-center font-weight-bold">Kindly click the button below to download your admission form</h5>
    <button type="submit" class="btn btn-danger d-block mx-auto">
        Download form <i class="fa fa-envelope-o"></i>
    </button>
</form>
</body>
</html>