<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="telephone=no" name="format-detection">
    <title></title>
    <!--[if (mso 16)]>
    <style type="text/css">
        a {
            text-decoration: none;
        }
    </style>
    <![endif]-->
    <!--[if gte mso 9]>
    <style>sup {
        font-size: 100% !important;
    }</style><![endif]-->
    <!--[if !mso]><!-- -->
    <link
            href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet"> <!--<![endif]-->
    <style>
        /* CONFIG STYLES Please do not delete and edit CSS styles below */

        /* IMPORTANT THIS STYLES MUST BE ON FINAL EMAIL */

        #outlook a {
            padding: 0;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        .es-button {
            mso-style-priority: 100 !important;
            text-decoration: none !important;
        }

        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        .es-desk-hidden {
            display: none;
            float: left;
            overflow: hidden;
            width: 0;
            max-height: 0;
            line-height: 0;
            mso-hide: all;
        }

        /*
END OF IMPORTANT
*/

        html,
        body {
            width: 100%;
            font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table {
            mso-table-lspace: 0;
            mso-table-rspace: 0;
            border-collapse: collapse;
            border-spacing: 0;
        }

        table td,
        html,
        body,
        .es-wrapper {
            padding: 0;
            Margin: 0;
        }

        .es-content,
        .es-header,
        .es-footer {
            table-layout: fixed !important;
            width: 100%;
        }

        img {
            display: block;
            border: 0;
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        table tr {
            border-collapse: collapse;
        }

        p,
        hr {
            Margin: 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            Margin: 0;
            line-height: 120%;
            mso-line-height-rule: exactly;
            font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;
        }

        p,
        ul li,
        ol li,
        a {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
            mso-line-height-rule: exactly;
        }

        .es-left {
            float: left;
        }

        .es-right {
            float: right;
        }

        .es-p5 {
            padding: 5px;
        }

        .es-p5t {
            padding-top: 5px;
        }

        .es-p5b {
            padding-bottom: 5px;
        }

        .es-p5l {
            padding-left: 5px;
        }

        .es-p5r {
            padding-right: 5px;
        }

        .es-p10 {
            padding: 10px;
        }

        .es-p10t {
            padding-top: 10px;
        }

        .es-p10b {
            padding-bottom: 10px;
        }

        .es-p10l {
            padding-left: 10px;
        }

        .es-p10r {
            padding-right: 10px;
        }

        .es-p15 {
            padding: 15px;
        }

        .es-p15t {
            padding-top: 15px;
        }

        .es-p15b {
            padding-bottom: 15px;
        }

        .es-p15l {
            padding-left: 15px;
        }

        .es-p15r {
            padding-right: 15px;
        }

        .es-p20 {
            padding: 20px;
        }

        .es-p20t {
            padding-top: 20px;
        }

        .es-p20b {
            padding-bottom: 20px;
        }

        .es-p20l {
            padding-left: 20px;
        }

        .es-p20r {
            padding-right: 20px;
        }

        .es-p25 {
            padding: 25px;
        }

        .es-p25t {
            padding-top: 25px;
        }

        .es-p25b {
            padding-bottom: 25px;
        }

        .es-p25l {
            padding-left: 25px;
        }

        .es-p25r {
            padding-right: 25px;
        }

        .es-p30 {
            padding: 30px;
        }

        .es-p30t {
            padding-top: 30px;
        }

        .es-p30b {
            padding-bottom: 30px;
        }

        .es-p30l {
            padding-left: 30px;
        }

        .es-p30r {
            padding-right: 30px;
        }

        .es-p35 {
            padding: 35px;
        }

        .es-p35t {
            padding-top: 35px;
        }

        .es-p35b {
            padding-bottom: 35px;
        }

        .es-p35l {
            padding-left: 35px;
        }

        .es-p35r {
            padding-right: 35px;
        }

        .es-p40 {
            padding: 40px;
        }

        .es-p40t {
            padding-top: 40px;
        }

        .es-p40b {
            padding-bottom: 40px;
        }

        .es-p40l {
            padding-left: 40px;
        }

        .es-p40r {
            padding-right: 40px;
        }

        .es-menu td {
            border: 0;
        }

        .es-menu td a img {
            display: inline !important;
        }

        /* END CONFIG STYLES */

        a {
            font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;
            font-size: 18px;
            text-decoration: underline;
        }

        h1 {
            font-size: 48px;
            font-style: normal;
            font-weight: normal;
            color: #111111;
        }

        h1 a {
            font-size: 48px;
        }

        h2 {
            font-size: 24px;
            font-style: normal;
            font-weight: normal;
            color: #111111;
        }

        h2 a {
            font-size: 24px;
        }

        h3 {
            font-size: 20px;
            font-style: normal;
            font-weight: normal;
            color: #111111;
        }

        h3 a {
            font-size: 20px;
        }

        p,
        ul li,
        ol li {
            font-size: 18px;
            font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;
            line-height: 150%;
        }

        ul li,
        ol li {
            Margin-bottom: 15px;
        }

        .es-menu td a {
            text-decoration: none;
            display: block;
        }

        .es-wrapper {
            width: 100%;
            height: 100%;
            background-image: ;
            background-repeat: repeat;
            background-position: center top;
        }

        .es-wrapper-color {
            background-color: #f4f4f4;
        }

        .es-content-body {
            background-color: #ffffff;
        }

        .es-content-body p,
        .es-content-body ul li,
        .es-content-body ol li {
            color: #666666;
        }

        .es-content-body a {
            color: #ec6d64;
        }

        .es-header {
            background-color: #ec6d64;
            background-image: ;
            background-repeat: repeat;
            background-position: center top;
        }

        .es-header-body {
            background-color: #ec6d64;
        }

        .es-header-body p,
        .es-header-body ul li,
        .es-header-body ol li {
            color: #666666;
            font-size: 14px;
        }

        .es-header-body a {
            color: #111111;
            font-size: 14px;
        }

        .es-footer {
            background-color: transparent;
            background-image: ;
            background-repeat: repeat;
            background-position: center top;
        }

        .es-footer-body {
            background-color: transparent;
        }

        .es-footer-body p,
        .es-footer-body ul li,
        .es-footer-body ol li {
            color: #666666;
            font-size: 14px;
        }

        .es-footer-body a {
            color: #111111;
            font-size: 14px;
        }

        .es-infoblock,
        .es-infoblock p,
        .es-infoblock ul li,
        .es-infoblock ol li {
            line-height: 120%;
            font-size: 12px;
            color: #cccccc;
        }

        .es-infoblock a {
            font-size: 12px;
            color: #cccccc;
        }

        a.es-button {
            border-style: solid;
            border-color: #ec6d64;
            border-width: 15px 25px 15px 25px;
            display: inline-block;
            background: #ec6d64;
            border-radius: 2px;
            font-size: 20px;
            font-family: helvetica, 'helvetica neue', arial, verdana, sans-serif;
            font-weight: normal;
            font-style: normal;
            line-height: 120%;
            color: #ffffff;
            text-decoration: none;
            width: auto;
            text-align: center;
        }

        .es-button-border {
            border-style: solid solid solid solid;
            border-color: #ec6d64 #ec6d64 #ec6d64 #ec6d64;
            background: #ec6d64;
            border-width: 1px 1px 1px 1px;
            display: inline-block;
            border-radius: 2px;
            width: auto;
        }

        /* RESPONSIVE STYLES Please do not delete and edit CSS styles below. If you don't need responsive layout, please delete this section. */

        @media only screen and(max-width: 600px) {
            p,
            ul li,
            ol li,
            a {
                font-size: 16px !important;
                line-height: 150% !important;
            }

            h1 {
                font-size: 30px !important;
                text-align: center;
                line-height: 120% !important;
            }

            h2 {
                font-size: 26px !important;
                text-align: center;
                line-height: 120% !important;
            }

            h3 {
                font-size: 20px !important;
                text-align: center;
                line-height: 120% !important;
            }

            h1 a {
                font-size: 30px !important;
            }

            h2 a {
                font-size: 26px !important;
            }

            h3 a {
                font-size: 20px !important;
            }

            .es-menu td a {
                font-size: 16px !important;
            }

            .es-header-body p,
            .es-header-body ul li,
            .es-header-body ol li,
            .es-header-body a {
                font-size: 16px !important;
            }

            .es-footer-body p,
            .es-footer-body ul li,
            .es-footer-body ol li,
            .es-footer-body a {
                font-size: 16px !important;
            }

            .es-infoblock p,
            .es-infoblock ul li,
            .es-infoblock ol li,
            .es-infoblock a {
                font-size: 12px !important;
            }

            *[class="gmail-fix"] {
                display: none !important;
            }

            .es-m-txt-c,
            .es-m-txt-c h1,
            .es-m-txt-c h2,
            .es-m-txt-c h3 {
                text-align: center !important;
            }

            .es-m-txt-r,
            .es-m-txt-r h1,
            .es-m-txt-r h2,
            .es-m-txt-r h3 {
                text-align: right !important;
            }

            .es-m-txt-l,
            .es-m-txt-l h1,
            .es-m-txt-l h2,
            .es-m-txt-l h3 {
                text-align: left !important;
            }

            .es-m-txt-r img,
            .es-m-txt-c img,
            .es-m-txt-l img {
                display: inline !important;
            }

            .es-button-border {
                display: block !important;
            }

            a.es-button {
                font-size: 20px !important;
                display: block !important;
                border-width: 15px 25px 15px 25px !important;
            }

            .es-btn-fw {
                border-width: 10px 0 !important;
                text-align: center !important;
            }

            .es-adaptive table,
            .es-btn-fw,
            .es-btn-fw-brdr,
            .es-left,
            .es-right {
                width: 100% !important;
            }

            .es-content table,
            .es-header table,
            .es-footer table,
            .es-content,
            .es-footer,
            .es-header {
                width: 100% !important;
                max-width: 600px !important;
            }

            .es-adapt-td {
                display: block !important;
                width: 100% !important;
            }

            .adapt-img {
                width: 100% !important;
                height: auto !important;
            }

            .es-m-p0 {
                padding: 0 !important;
            }

            .es-m-p0r {
                padding-right: 0 !important;
            }

            .es-m-p0l {
                padding-left: 0 !important;
            }

            .es-m-p0t {
                padding-top: 0 !important;
            }

            .es-m-p0b {
                padding-bottom: 0 !important;
            }

            .es-m-p20b {
                padding-bottom: 20px !important;
            }

            .es-mobile-hidden,
            .es-hidden {
                display: none !important;
            }

            .es-desk-hidden {
                display: table-row !important;
                width: auto !important;
                overflow: visible !important;
                float: none !important;
                max-height: inherit !important;
                line-height: inherit !important;
            }

            .es-desk-menu-hidden {
                display: table-cell !important;
            }

            table.es-table-not-adapt,
            .esd-block-html table {
                width: auto !important;
            }

            table.es-social {
                display: inline-block !important;
            }

            table.es-social td {
                display: inline-block !important;
            }
        }

        /* END RESPONSIVE STYLES */

        .es-p-default {
            padding: 20px 30px 0;
        }

        .es-p-all-default {
            padding: 0;
        }


    </style>
</head>

<body>
<div
        class="es-wrapper-color">
    <!--[if gte mso 9]>
    <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
        <v:fill type="tile" color="#f4f4f4"></v:fill>
    </v:background>
    <![endif]-->
    <table cellpadding="0" cellspacing="0" class="es-wrapper" width="100%">
        <tbody>
        <tr class="gmail-fix" height="0">
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                    <tbody>
                    <tr>
                        <td border="0" cellpadding="0" cellspacing="0" height="0"
                            style="line-height: 1px; min-width: 600px;">
                            <img alt height="1" src="https://esputnik.com/repository/applications/images/blank.gif"
                                 style="display: block; max-height: 0px; min-height: 0px; min-width: 600px; width: 600px;"
                                 width="600">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="esd-email-paddings" valign="top">
                <table align="center" cellpadding="0" cellspacing="0" class="es-header esd-header-popover">
                    <tbody>
                    <tr>
                        <td align="center" bgcolor="#fe0000" class="esd-stripe" esd-custom-block-id="6339"
                            style="background-color: rgb(254, 0, 0);">
                            <table align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0"
                                   class="es-header-body" style="background-color: rgb(255, 255, 255);" width="600">
                                <tbody>
                                <tr>
                                    <td align="left" class="esd-structure es-p20t es-p10b es-p10r es-p10l">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td align="center" class="esd-container-frame" valign="top" width="580">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td align="center" class="esd-block-image">
                                                                <a href="https://esgt-benin.com" target="_blank"><img
                                                                            alt
                                                                            src="https://esgtbenin.v-schl.com/dist/img/logo.png"
                                                                            style="display: block;" width="105"></a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table align="center" cellpadding="0" cellspacing="0" class="es-content">
                    <tbody>
                    <tr>
                        <td align="center" bgcolor="#fe0000" class="esd-stripe" esd-custom-block-id="6340"
                            style="background-color: rgb(254, 0, 0);">
                            <table align="center" cellpadding="0" cellspacing="0" class="es-content-body"
                                   style="background-color: transparent;" width="600">
                                <tbody>
                                <tr>
                                    <td align="left" class="esd-structure">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td align="center" class="esd-container-frame" valign="top" width="600">
                                                    <table bgcolor="#ffffff" cellpadding="0" cellspacing="0"
                                                           style="background-color: rgb(255, 255, 255); border-radius: 0px; border-collapse: separate;"
                                                           width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td align="left" class="esd-block-text es-p5t es-p30l">
                                                                <p style="font-size: 30px;">Goodday, {% if staff.gender == 1 %}
                                                                        Mr
                                                                    {% else %}
                                                                        Mme
                                                                    {% endif %} {{ staff.lastname }} &nbsp;{{ staff.firstname }}</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left"
                                                                class="esd-block-text es-p25t es-p5b es-p30r es-p30l">
                                                                <h2 style="font-size: 33px;">
                                                                    <strong>
                                                                        <a href="{{ link }}">{{ link }}</a>

                                                                    </strong>

                                                                </h2>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" class="esd-block-text es-p5t es-p30l">
                                                                <p style="font-size: 30px;">Above is your referal link</p>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table align="center" cellpadding="0" cellspacing="0" class="es-footer esd-footer-popover">
                    <tbody>
                    <tr>
                        <td align="center" class="esd-stripe" esd-custom-block-id="6342">
                            <table align="center" cellpadding="0" cellspacing="0" class="es-footer-body" width="600">
                                <tbody>
                                <tr>
                                    <td align="left" class="esd-structure es-p30t es-p30b es-p30r es-p30l">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td align="center" class="esd-container-frame" valign="top" width="540">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td align="center" class="esd-block-text">
                                                                <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;line-height:18px;color:#666666;">
                                                                    Copyright © 2019&nbsp;<strong>
                                                                        <a href="https://www.esgt-benin.com"
                                                                           style="font-size:12px;text-decoration:none;color:#666666;"
                                                                           target="_blank">ESGT-BENIN</a>
                                                                    </strong>, Designed by
                                                                    <a href="https://www.linkedin.com/in/radji-mubarak-51345011a"
                                                                       style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-size:12px;text-decoration:none;color:#666666;"
                                                                       target="_blank"><b>Visionaries-Studio</b></a>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>
