<div class="card card-box">
    <div class="card-head">
        <header>List of course for assigned to you for the semeter</header>
        <div class="tools">
            <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
        </div>
    </div>
    <div class="card-body ">
        <div class="table-wrap">
            <div class="table-responsive">
                <table id="example1" class="display table-striped" style="width:100%;">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Course title</th>
                        <th>Course code</th>
                        <th>Department</th>
                        <th>Level</th>
                        <th class="text-center"><i class="fa fa-ellipsis-h"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i= 0 %}
                    {% for w in totalCoursr4Semster %}
                        {% set i= i+ 1 %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ w.courses.title }} </td>
                            <td>{{ w.courses.code }} </td>
                            <td>{{ w.courses.department.title }} </td>
                            <td>{{ w.courses.level.levelcode }} </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item pt-2"
                                           href="{{ path('generate_scoresheet', {'course': w.courses.id}) }}">
                                           <i class="far fa-list-alt"></i> Scoresheet</a>
                                        <a class="dropdown-item pt-2"
                                           href="{{ path('lecturer_question_list', {'course': w.courses.id}) }}">
                                            <i class="far fa-book"></i> Exam questions</a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>