<div class="card card-box">
    <div class="card-head">
        <header>New Student List</header>
        <div class="tools">
            <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
        </div>
    </div>
    <div class="card-body ">
        <div class="table-wrap">
            <div class="table-responsive">
                <table id="example1" class="display table-striped" style="width:100%;">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Program</th>
                        <th>Date Of Entry</th>
                        <th>Dept|Level</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i= 0 %}
                    {% for w in waiting %}
                        {% set i= i+ 1 %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ w.lastname }} {{ w.firstname }}</td>
                            <td>
                                {% if w.admissionType == 'regular' %}
                                    <span class="label label-sm label-success">Regular </span>
                                {% else %}
                                    <span class="label label-sm label-warning">Online </span>
                                {% endif %}
                            </td>
                            <td>{{ w.created|date('d/m/Y') }}</td>
                            <td>{{ w.department.departmentCode }} | {{ w.levelOfEntry }}</td>

                            <td><a href="{{ path('admit',{'id':w.id}) }}" class="" data-toggle="tooltip" title="Accept"><i
                                            class="fa fa-check"></i></a> <a href="{{ path('reject',{'id':w.id}) }}"
                                                                            class="text-inverse" title="Reject"
                                                                            data-toggle="tooltip"><i
                                            class="fa fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>