{% if scoreseet is  not empty %}
    <table class="table table-bordered table-striped mt-3">
        <thead>
        <tr>
            <th class="text-center">S/N</th>
            <th class="text-center">Course Code</th>
            <th class="text-center">Course Title</th>
            <th class="text-center">Course Unit</th>
            <th class="text-center">Score (%)</th>
            <th class="text-center">Letter Grade</th>
            <th class="text-center">Credit</th>
            <th class="text-center">GP</th>
        </tr>
        </thead>
        <tbody>
        {% set i= 0 %}
        {% for s in scoreseet %}
            {% set i= i+ 1 %}
            <tr>
                <td class="text-center">{{ i }}</td>
                <td class="text-center text-uppercase">{{ s.course.title }}</td>
                <td class="text-center text-uppercase">{{ s.course.code }}</td>
                <td class="text-center text-uppercase">{{ s.course.units }}</td>
                <td class="text-center">{{ s.total }}</td>
                <td class="text-center">
                    {{ s.letterGrad }}
                </td>
                <td class="text-center">
                    {{ s.credit }}
                </td>
                <td class="text-center">
                    {{ s.gp }}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% else %}

    No record for this student would you like to generate a transcript for the student

{% endif %}