{% extends 'base.html.twig' %}

{% block title %}Transcript{% endblock %}

    {% block body %}
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                class="fa fa-angle-right"></i>
                            </li>
                            <li class=""><a href="#">Students</a></li>
                            <li class="active"><a href="#">Transcript</a></li>
                        </ol>
                    </div>
                </div>
                <!-- add content here -->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card card-box">
                            <div class="card-head">
                                <header>Students Transcript</header>
                                <div class="tools">
                                    <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12">
                                    <label for="usass">Select the student</label>
                                    <select name="student" id="studentList" class="studentSelection w-100"
                                    onchange="ajax.getStudentInFo(),ajax.getStudentScoreSheet();">
                                    <option></option>
                                    {% for s in students %}
                                        <option value="{{ s.id }}">{{ s.lastname }} {{ s.firstname }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-12" id="transPrev">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Student info</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="displayStudentInfo">
                                <p class="text-center">Selected student's info are displayed here</p>
                            </div>
                        </div>
                    </div>

                    <div class="card card-box mt-4">
                        <div class="card-head">
                            <header>Transcript Summary</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="d-flex flex-wrap">
                                  <div class="p-2">
                                    <span class="badge badge-success font-weight-bold"> 4.00-5.00
                                     : <u>First Class</u></span>
                                 </div>
                                 <div class="p-2">
                                    <span class="badge badge-primary font-weight-bold"> 3.00-3.99
                                     : <u>Second Class (Upper)</u></span>
                                 </div>
                                 <div class="p-2">
                                    <span class="badge badge-warning font-weight-bold"> 2.00-2.99
                                     : <u>Second Class (Lower)</u></span>
                                 </div>
                                 <div class="p-2">
                                    <span class="badge badge-danger font-weight-bold"> 1.00-1.99
                                     : <u>Third Class</u></span>
                                 </div>
                             </div>
                         </div>
                         <table class="table table-hover">
                            <tr>
                                <th>Score Range</th>
                                <th>Grading Point</th>
                            </tr>
                            <tr class="text-success font-weight-bold">
                               <td>80 Above</td>
                               <td>5</td>
                           </tr>
                           <tr class="text-success font-weight-bold">
                               <td>75-79</td>
                               <td>4.5</td>
                           </tr>
                           <tr class="text-primary font-weight-bold">
                               <td>70-74</td>
                               <td>4</td>
                           </tr>
                           <tr class="text-primary font-weight-bold">
                               <td>65-69</td>
                               <td>3.5</td>
                           </tr>
                           <tr class="text-primary font-weight-bold">
                               <td>60-64</td>
                               <td>3</td>
                           </tr>
                           <tr class="text-warning font-weight-bold">
                               <td>55-59</td>
                               <td>2.5</td>
                           </tr>
                           <tr class="text-warning font-weight-bold">
                               <td>50-54</td>
                               <td>2</td>
                           </tr>
                           <tr class="text-danger font-weight-bold">
                               <td>45-49</td>
                               <td>1.5</td>
                           </tr>
                           <tr class="text-danger font-weight-bold">
                               <td>40-44</td>
                               <td>1</td>
                           </tr>
                       </table>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/select2/js/select2.js') }}"></script>
    <script src="{{ asset('dist/js/ajax.js') }}"></script>
        {#<script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ asset('dist/js/pages/table/table_data.js') }}"></script>#}
        <script>
        $('.studentSelection').select2({
            theme: "bootstrap",
            // width: 95 %
        });
        </script>
    {% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <!-- data tables -->
        {#<link href="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
        type="text/css"/>#}
        <link href="{{ asset('dist/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('dist/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}

