{{ form_start(form) }}
<div class="row">
    <div class="col-lg-12 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.title , {'attr' : {'class' : 'mdl-textfield__input'}}
            ) }}
            {{ form_label(form.title) }}
        </div>
    </div>
    <div class="col-lg-12 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.departmentCode , {'attr' : {'class' : 'mdl-textfield__input'}}
            ) }}
            {{ form_label(form.departmentCode) }}
        </div>
    </div>
    <div class="col-lg-12 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.hasHod) }}
            {{ form_widget(form.hasHod , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-12 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.description) }}
            {{ form_widget(form.description , {'attr' : {'class' : 'form-control summernote_editor_descriptions'}}
            ) }}
        </div>
    </div>
    <div class="col-sm-12">
        <button class="btn btn-success w-100">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}
