{% set i= 0 %}
{% for department in departments %}
    {% set i= i+ 1 %}
    <tr>
        <td>{{ i }}</td>
        <td>{{ department.title }}</td>
        <td>{{ department.departmentCode }}</td>
        <td>{{ department.hasHod ? 'Yes' : 'No' }}</td>
        <td>{{ department.created ? department.created|date('Y-m-d H:i:s') : '' }}</td>
        {#<td>{{ department.createdBy }}</td>#}
        <td>
            {#<a href="{{ path('department_show', {'id': department.id}) }}" class="btn mr-3" title="View">#}
                {#<i class="fas fa-eye"></i>#}
            {#</a>#}
            <a href="{{ path('department_edit', {'id': department.id}) }}" class="btn" title="Edit">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="6">no records found</td>
    </tr>
{% endfor %}