{% extends 'base.html.twig' %}

{% block title %}Department{% endblock %}

{% block body %}
    <h1>Department</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ department.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ department.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ department.description }}</td>
            </tr>
            <tr>
                <th>HasHod</th>
                <td>{{ department.hasHod ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ department.created ? department.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ department.createdBy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('department_index') }}">back to list</a>

    <a href="{{ path('department_edit', {'id': department.id}) }}">edit</a>

    {{ include('department/_delete_form.html.twig') }}
{% endblock %}
