<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta name="description" content="The Virtual School"/>
    <meta name="author" content="Visionaries-Studio"/>
    <title>The V-SCHL | {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <!-- icons -->
        <link href="{{ asset('dist/fonts/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet"
        type="text/css"/>
        <link rel="stylesheet" href="{{ asset('dist/css/all.min.css') }}"/>
        <link href="{{ asset('dist/fonts/material-design-icons/material-icon.css') }}" rel="stylesheet"
        type="text/css"/>
        <!--bootstrap -->
        <link href="{{ asset('dist/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('dist/plugins/summernote/summernote.css') }}" rel="stylesheet">
        <!-- Material Design Lite CSS -->
        <link rel="stylesheet" href="{{ asset('dist/plugins/material/material.min.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/css/material_style.css') }}">
        <!-- inbox style -->
        <link href="{{ asset('dist/css/pages/inbox.min.css') }}" rel="stylesheet" type="text/css"/>
        <!-- Theme Styles -->
        <link href="{{ asset('dist/css/theme/full/theme_style.css') }}" rel="stylesheet" id="rt_style_components"
        type="text/css"/>
        <link href="{{ asset('dist/css/plugins.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('dist/css/theme/full/style.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('dist/css/responsive.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('dist/css/theme/full/theme-color.css') }}" rel="stylesheet" type="text/css"/>
        <!-- chart js -->
        {#<script src="{{ asset('dist/js/pages/chart/chartjs/Chart.bundle.js') }}" ></script>#}
        {#<script src="{{ asset('dist/js/pages/chart/chartjs/utils.js') }}" ></script>#}
        {#<script src="{{ asset('dist/js/pages/chart/chartjs/home-data.js') }}" ></script>#}
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('dist/img/favicon/favicon.ico') }}"/>
</head>
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md page-full-width header-white white-sidebar-color logo-white">
    <div class="page-wrapper">

        {% block header %}
            {% include 'block/header.html.twig' %}
            {% include 'block/colorsetting.html.twig' %}
        {% endblock %}
        <div class="page-container">
            {% block sidemenu %}
                {% include 'block/sidemenu.html.twig' %}
            {% endblock %}
            <!-- start page content -->
            {% block errospan %}
                {% for message in app.session.flashbag.get('error') %}

                    <div class="alert alert-error alert-dismissible fade show mt-3 mb-0 " role="alert">
                      <strong>{{ message|raw }}</strong> 
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="text-indent:-10px;font-size:small">
                        <i class="fa fa-times"></i> 
                    </button>
                </div>
            {% endfor %}

            {% for message in app.session.flashbag.get('success') %}

                <div class="alert alert-success alert-dismissible fade show mt-3 mb-0 " role="alert">
                  <strong>{{ message|raw }}</strong> 
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="text-indent:-10px;font-size:small">
                    <i class="fa fa-times"></i> 
                </button>
            </div>
        {% endfor %}
    {% endblock %}
    {% block body %}{% endblock %}
        <!-- end page content -->
        <!-- start chat sidebar -->
        {#{% include 'block/chatblock.html.twig' %}#}
        <!-- end chat sidebar -->
    </div>
    <!-- end page container -->
    <!-- start footer -->
    <div class="page-footer">
        <div class="page-footer-inner font-weight-bold"> 2019 &copy; ESGT VSCHOOL Designed By
            <a href="https://www.linkedin.com/in/radji-mubarak-51345011a" target="_top" class="makerCss">Visionaries-Studio</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- end footer -->
</div>
{% block javascripts %}
    <!-- start js include path -->
    <script src="{{ asset('dist/plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/popper/popper.js') }}"></script>
    <script src="{{ asset('dist/plugins/jquery-blockui/jquery.blockui.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('dist/js/ajax.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <!-- bootstrap -->
    <script src="{{ asset('dist/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
    {#<script src="{{ asset('dist/plugins/sparkline/jquery.sparkline.js') }}"></script>#}
    {#<script src="{{ asset('dist/js/pages/sparkline/sparkline-data.js') }}"></script>#}
    <!-- Common js-->
    {#<script src="{{ asset('dist/js/app.js') }}"></script>#}
    {#<script src="{{ asset('dist/js/layout.js') }}"></script>#}
    {#<script src="{{ asset('dist/js/theme-color.js') }}"></script>#}
    <script src="{{ asset('dist/js/all.min.js') }}"></script>
    <!-- material -->
    <script src="{{ asset('dist/plugins/material/material.min.js') }}"></script>
    <script>
    (function ($) {
        $.fn.inputFilter = function (inputFilter) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
            });
        };
    }(jQuery));
    </script>
{% endblock %}
</body>
</html>
