{% extends 'base.html.twig' %}

{% block title %}Super-user Authentication!{% endblock %}

{% block body %}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Super-user Authentication</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Super-user Authentication</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="card card-box">
            <form action="{{ path('confirmchangeSession') }}" method="POST" class="col-md-7 mx-auto">
                <h3 class="text-center mt-2 font-weight-bold ">Current Year: <span class="text-danger">{{ academicYear.year }}</span> Current Semester: <span class="text-danger">{{ academicYear.semester }}</span></h3>
                <input type="text" placeholder="Enter your 9 digit code" maxlength="9" minlength="9" required data-mask="999-999-999" name="superusercode" class="form-control form-control-lg w-25 d-block mx-auto">
                
                <h4 class="text-danger font-weight-bold text-center mb-3">NB: This process will create an new academic year thereby deactivating the current academic year, and will also affect all the student information !</h4>
                <h5 class="text-center">OR</h5>
                <label class="font-weight-bold" for="">Change Semester only </label>   
                <select name="semester" class="form-control" id="">
                    <option value=""></option>
                    <option>1st</option>
                    <option>2nd</option>
                    <option>Summer</option>
                </select>                 
                <span class="help-block text-mute"></span> <br>
                <button class="btn btn-success btn-lg mx-auto d-block" onclick="return confirm('Are you sure you want to proceed?');">PROCEED</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/plugins/jquery-tags-input/jquery-tags-input.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!--tags input-->
    <script src="{{ asset('dist/plugins/jquery-tags-input/jquery-tags-input.js') }}" ></script>
    <script src="{{ asset('dist/plugins/jquery-tags-input/jquery-tags-input-init.js') }}" ></script>
{% endblock %}
