<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New super user</title>
    <link href="{{ asset('dist/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('dist/plugins/jquery-tags-input/jquery-tags-input.css') }}" rel="stylesheet">

</head>
<body>
<div class="col-md-5">
    {% for message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible pt-3" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            <i class="fas fa-check-double"></i>
            <strong>{{ message|raw }}</strong>
        </div>

    {% endfor %}

    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible pt-3" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            <i class="far fa-exclamation-triangle"></i>
            <strong>{{ message|raw }}</strong>
        </div>
    {% endfor %}
    <h2>Create Super user account</h2>
    <form action="" method="POST">
        <div class="form-group"><label for="admin">Select admin</label>
        <select name="user" class="form-control" required id="admin">
            <option value=""></option>
            {% for u in users %}
                <option value="{{ u.username }}">{{ u.username }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="form-group">
            <label for="">New password <small>(Enter 9 digit)</small></label>
            <input type="password" data-mask="999-999-999" maxlength="9" minlength="9" required name="newpassword" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Confirm password <small>(Enter 9 digit)</small></label>
            <input type="password" data-mask="999-999-999" maxlength="9" minlength="9"  required name="confpassword" class="form-control">
        </div>
        <button type="submit">Create</button>
    </form>
</div>
{#{% block stylesheets %}#}
{#{{ parent() }}#}
{#{% endblock %}#}
<script src="{{ asset('dist/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('dist/plugins/popper/popper.js') }}"></script>
<!--tags input-->
<script src="{{ asset('dist/plugins/jquery-tags-input/jquery-tags-input.js') }}"></script>
<script src="{{ asset('dist/plugins/jquery-tags-input/jquery-tags-input-init.js') }}"></script>
</body>
</html>