{% extends 'base.html.twig' %}

{% block title %}Dashbord!{% endblock %}
{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Dashbord</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                    class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">Dashbord</li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                {% include 'default/include/stats.html.twig' with {'adminStats':adminStats} %}

                {#{% include 'default/include/stats.html.twig' with {'totalStudents':totalStudents,'totalCourse':totalCourse,'totalLibAss':totalLibAss} %}#}
            {% endif %}
            <div class="row">
                <div class="col-md-8">
                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                        {% include 'default/include/waitinglist.html.twig' with {'waiting' : waiting} %}
                    {% endif %}
                    {% if is_granted('ROLE_LECTURER') %}
                        {% include 'default/include/courseperlecturer.html.twig' with {'totalCoursr4Semster' : totalCoursr4Semster} %}
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Statistics</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body no-padding height-9">
                            <div class="row">
                                <div id="morris_chart_4" style="width:100%; height: 500px;"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- data tables -->
    <link href="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <!-- morris chart -->
    <link href="{{ asset('dist/plugins/morris/morris.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- data tables -->
    <script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/table/table_data.js') }}"></script>
    <!-- morris chart -->
    <script src="{{ asset('dist/plugins/morris/morris.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/morris/raphael-min.js') }}"></script>
    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>

    <script>
        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN')%}
        new Morris.Donut({
            element: "morris_chart_4",
            data: [{
                label: "New Students",
                value: {{ waiting|length }}
            }, {
                label: "All students",
                value: {{ adminStats.totalStudents }}
            }, {
                label: "All Courses",
                value: {{ adminStats.totalCourses }}
            }, {
                label: "All Lectures",
                value: {{ adminStats.totalLecturers }}
            }],
            colors: ["#EAA228", "#4BB2C5", "#559BD7", "#19e052"]
        });
        {% elseif is_granted('ROLE_LECTURER') %}
        new Morris.Donut({
            element: "morris_chart_4",
            data: [{
                label: "Total courses for semester",
                value: {{ lecturerStats.totalCoursr4Semster }}
            }],
            colors: ["#EAA228"]
        });
        {% endif %}
    </script>
{% endblock %}
