{% extends 'base.html.twig' %}

{% block title %}User Settings{% endblock %}

    {% block body %}
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                class="fa fa-angle-right"></i>
                            </li>
                            <li class="active"><a href="#">Setting</a></li>
                        </ol>
                    </div>
                </div>
                <!-- add content here -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PROFILE SIDEBAR -->
                        <div class="profile-sidebar">
                            <div class="card card-topline-aqua">
                                <div class="card-body no-padding height-9">
                                    <div class="row">
                                        <div class="profile-userpic">
                                            {# <img src="../assets/img/dp.jpg" class="img-responsive" alt="">  #}
                                        </div>
                                        </div>
                                        <div class="profile-usertitle">
                                            <div class="profile-usertitle-name text-capitalize">{{app.user.username}} </div>
                                            <div class="profile-usertitle-job"> 
                                                {% if 'ROLE_SUPER_ADMIN'  in app.user.roles %}
                                                    SUPER ADMIN
                                                     {% elseif 'ROLE_ADMIN'  in app.user.roles %}
                                                         ADMIN
                                                     {% elseif 'ROLE_LECTURER'  in app.user.roles %}
                                                         LECTURER
                                                    {% endif %}
                                            </div>
                                        </div>
                                        {% if 'ROLE_SUPER_ADMIN'  in app.user.roles or 'ROLE_ADMIN'  in app.user.roles %}
                                            <ul class="list-group list-group-unbordered">
                                            <li class="list-group-item">
                                                <b>Fees Collected</b> <a class="pull-right">{{fees}}</a>
                                            </li>
                                        </ul>
                                        {% endif %}
                                        <!-- END SIDEBAR USER TITLE -->
                                        <!-- SIDEBAR BUTTONS -->
                                        {# <div class="profile-userbuttons">
                                            <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                                            <button type="button" class="btn btn-circle red btn-sm">Message</button>
                                        </div> #}
                                        <!-- END SIDEBAR BUTTONS -->
                                    </div>
                                </div>
                            </div>

                            <div class="profile-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-head card-topline-aqua">
                                                <header>User Options</header>
                                            </div>
                                            <div class="card-body no-padding height-9">
                                                <div class="container-fluid">
                                                    <div class="row ">
                                                        <div class="col-md-4 mx-auto">
                                                            <div class="panel mx-auto text-center">
                                                                <a class="" href="javascript:void(0)" data-toggle="modal" data-target="#changePassword">
                                                                    Change Password
                                                                </a>
                                                            </div>
                                                        </div>
                                                        {% if 'ROLE_SUPER_ADMIN'  in app.user.roles or 'ROLE_ADMIN'  in app.user.roles %}
                                                         <div class="col-md-4 mx-auto">
                                                            <div class="panel mx-auto text-center">
                                                                <a class="" href="{{path('changeSession')}}">
                                                                    Change academic section
                                                                </a>
                                                            </div>
                                                        </div>
                                                         <div class="col-md-4 mx-auto">
                                                            <div class="panel mx-auto text-center">
                                                                <a class="" href="{{path('create_new_super_user')}}">
                                                                    Grant super admin access
                                                                </a>
                                                            </div>
                                                        </div>
                                        {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="changePassword" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form action="{{ path('modify_passe') }}" method="POST">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-uppercase" id="exampleModalLabel">Change Password</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-md-12 text-center mb-3" id="divCheckPasswordMatch" ></div>
                                        <div class="form-group fg-line">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input type="password" class="form-control input-sm" 
                                            placeholder="Password" id="password" style="border:1px solid" name="newpasse">
                                        </div>
                                        <div class="form-group fg-line">
                                            <label for="exampleInputPassword1">Confirm Password</label>
                                            <input type="password" class="form-control input-sm" 
                                            placeholder="Confirm Password" style="border:1px solid"
                                            name="confirmepasse" id="conf-pass" onkeyup="checkPasswordMatch();">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
