{% set remainToPay= 0 %}
{% if fee is defined %}
{% set remainToPay= fee.amount - fee.totalPaid %}

    <h3 class="mt-3">
        <span>Total Amount paid:
            <span class="text-success font-weight-bold">{{ fee.totalPaid|number_format(0,'.',' ')}}</span>
        </span>
        <span>Amount left to pay:
            <span class="text-danger font-weight-bold">{{ remainToPay|number_format(0,'.',' ')}}</span>
        </span>
    </h3>
{% endif %}
<table class="table table-bordered table-striped" id="example1">
    <thead>
        <tr>
            <th>#</th>
            <th>Reference</th>
            <th>Amount</th>
            <th>Validated</th>
            <th>Createdby</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% set i= 0 %}
        {% for payment in payments %}

            {% set i= i+ 1 %}
            <tr>
                <td>{{i}}</td>
                <td>#{{ payment.reference }}</td>
                <td>{{ payment.amount|number_format(0,'.',' ') }}
                     {{ payment.currency }}
                </td>

                <td>
                    {% if payment.validated %}Yes{% else %}No
                    {% endif %}
                </td>
                <td>{{ payment.createdBy }}</td>
                <td>
                    {% if payment.created %}
                        {{ payment.created|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('printRecipte', { 'id': payment.id }) }}" title="Download as PDF">
                        <i class="fa fa-print"></i>
                    </a>
                    {# <a href="{{ path('payments_edit', { 'id': payment.id }) }}" title="Edit Payment">
                    
                                            <i class="fa fa-edit"></i>
                                        </a> #}

{#                     <a href="{{ path('payments_delete', { 'id': payment.id }) }}" title="Delete Payment" onclick="return confirm('Are you sure of deleting this payment?')">
                        <i class="fa fa-trash"></i>
                    </a>
 #}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

