{% extends 'base.html.twig' %}

{% block body %}
    <h1>Payment</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payment.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ payment.amount }}</td>
            </tr>
            <tr>
                <th>Validated</th>
                <td>{% if payment.validated %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ payment.createdBy }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if payment.created %}{{ payment.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('payments_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('payments_edit', { 'id': payment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
