{{ form_start(form) }}
<div class="row">
    <div class="col-lg-6 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.firstname , {'attr' : {'class' : 'mdl-textfield__input'}}
            ) }}
            {{ form_label(form.firstname) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.lastname , {'attr' : {'class' : 'mdl-textfield__input text-upper'}}
            ) }}
            {{ form_label(form.lastname) }}
        </div>
    </div>
    <div class="col-lg-12 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.telephone , {'attr' : {'class' : 'mdl-textfield__input number'}}
            ) }}
            {{ form_label(form.telephone) }}
        </div>
    </div>
    <div class="col-lg-12 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.wtelephone , {'attr' : {'class' : 'mdl-textfield__input number'}}
            ) }}
            {{ form_label(form.wtelephone) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.email , {'attr' : {'class' : 'mdl-textfield__input'}}
            ) }}
            {{ form_label(form.email) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.salary , {'attr' : {'class' : 'mdl-textfield__input number'}}
            ) }}
            {{ form_label(form.salary) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.country , {'attr' : {'class' : 'mdl-textfield__input number'}}
            ) }}
            {#{{ form_label(form.country) }}#}
        </div>
    </div>
    <div class="col-lg-6 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.state , {'attr' : {'class' : 'mdl-textfield__input number'}}
            ) }}
            {{ form_label(form.state) }}
        </div>
    </div>
    <div class="col-lg-12 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.location , {'attr' : {'class' : 'mdl-textfield__input number'}}
            ) }}
            {{ form_label(form.location) }}
        </div>
    </div>
    <div class="col-lg-4 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.fonction , {'attr' : {'class' : 'form-control'}}
            ) }}
            {#{{ form_label(form.fonction) }}#}
        </div>
    </div>

    <div class="col-lg-4 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.gender , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-4 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.media , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-sm-12 mt-5">
        <button class="btn btn-success w-100">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}