<div class="card card-box">
    <div class="card-head">
        <header><i class="fas fa-filter"></i> Filter & Stats</header>
        <div class="tools">
            <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
        </div>
    </div>
    <div class="card-body no-padding height-9">
        <div class="row">

            <div class="col-lg-12 p-t-5">
                <div class = "mdl-textfield mdl-js-textfield">
                    <input class = "mdl-textfield__input" type = "text" id = "text1">
                    <label class = "mdl-textfield__label" for = "text1">Filter by Fullname</label>
                </div>
            </div>
            <div class="col-lg-12 p-t-5">
                <div class = "mdl-textfield mdl-js-textfield">
                    <input class = "mdl-textfield__input" type = "text" id = "text1">
                    <label class = "mdl-textfield__label" for = "text1">Filter by Salary</label>
                </div>
            </div>

            <div class="col-lg-12">
                <button type="button" class="btn btn-outline-success w-100 ">Search</button>
            </div>
        </div>
    </div>
</div>