{% extends 'base.html.twig' %}

{% block title %}Staffs{% endblock %}
        {% block stylesheets %}
            {{ parent() }}
            <!-- data tables -->
            <link href="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
                  type="text/css"/>
        {% endblock %}

{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                    class="fa fa-angle-right"></i>
                        </li>
                        <li class="active"><a href="#">Staffs</a></li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="row">
                <div class="col-lg-9">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>List of staffs</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-wrap">
                                <div class="table-responsive">

                                    <table id="example1" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-center">S/N</th>
                                            <th class="text-center">Media</th>
                                            <th class="text-center">Fullname</th>
                                            <th class="text-center">Code</th>
                                            <!-- <th class="text-center">Telephone</th> -->
                                            <th class="text-center">Created</th>
                                            <th class="text-center"><i class="fas fa-ellipsis-h"></i></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% include 'staffs/list.html.twig' with {'staffs' : staffs} %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    {% include 'staffs/filter.html.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/table/table_data.js') }}"></script>
{% endblock %}