{% set i= 0 %}
{% for staff in staffs %}
    {% set i= i+1 %}
    <tr>
        <td class="text-center">{{ i }}</td>
        <td class="text-center">
            {% if staff.media %}
                <img src="{{ staff.media }}" alt="Staff" class="small-pic rounded mx-auto d-block img-fluid">
            {% else %}
                <i class="fas fa-user"></i>
            {% endif %}
        </td>
        <td class="text-center">
            {% if staff.gender == 1 %}
                Mr
            {% else %}
                Mme
            {% endif %}
            <span
                    class="font-weight-bold">{{ staff.lastname }} {{ staff.firstname }}</span>
        </td>
        <td class="text-center">{{ staff.code }}</td>
        <!-- <td class="text-center">{{ staff.telephone }}</td> -->

        <td class="text-center">{{ staff.created ? staff.created|date('Y-m-d H:i:s') : '' }}</td>
        <td class="text-center">


            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item pt-2" href="{{ path('staffs_edit', {'id': staff.id}) }}"><i
                                class="fas fa-edit"></i> Edit staff</a>

                    {% if staff.hasAccount is null and staff.fonction == 'ROLE_ADMIN' or staff.fonction == 'ROLE_SUPER_ADMIN' %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('createAccountstaff', {'id': staff.id}) }}"><i
                                    class="fas fa-user"></i> Create account</a>
                    {% elseif staff.hasAccount == 1  %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('changeUserStatus', {'id': staff.id}) }}"><i
                                    class="fas fa-exchange-alt"></i> Change account statut</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0){#{ path('changeAccountStatus', {'id': student.id}) }#}"><i
                                    class="fas fa-redo"></i> Reset Password</a>
                    {% endif %}
                    <a class="dropdown-item pt-2" href="{{ path('staffs_delete', {'id': staff.id}) }}"><i
                                class="fas fa-trash"></i> Delete staff</a>

                </div>
            </div>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="6">no records found</td>
    </tr>
{% endfor %}