{% extends 'base.html.twig' %}

{% block title %}Staffs{% endblock %}

{% block body %}
    <h1>Staffs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ staff.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ staff.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ staff.lastname }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ staff.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ staff.email }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ staff.salary }}</td>
            </tr>
            <tr>
                <th>Media</th>
                <td>{{ staff.media }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ staff.created ? staff.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('staffs_index') }}">back to list</a>

    <a href="{{ path('staffs_edit', {'id': staff.id}) }}">edit</a>

    {{ include('staffs/_delete_form.html.twig') }}
{% endblock %}
