{% extends 'base.html.twig' %}

{% block title %}Edit FAQ{% endblock %}

    {% block body %}
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                class="fa fa-angle-right"></i>
                            </li>
                            <li class=""><a href="#">Extar</a>&nbsp;<i
                                class="fa fa-angle-right"></i></li>
                                <li class=""><a href="#">FAQ</a>&nbsp;<i
                                class="fa fa-angle-right"></i></li>
                                <li class="active"><a href="#">Edit FAQ</a></li>
                            </ol>
                        </div>
                    </div>
                    <!-- add content here -->
                    <div class="card card-box">
                        <div class="card-head">
                            <header>FAQ Modification</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            

                           {{ include('faq/form.html.twig') }}

                       </div>-
                   </div>
               </div>
           </div>
       {% endblock %}
       {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/plugins/steps/steps.css') }}">
        <link rel="stylesheet" href="{{ asset('dist/material-datetimepicker/bootstrap-material-datetimepicker.css') }}"/>
        <link href="{{ asset('dist/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('dist/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css') }}" rel="stylesheet" media="screen">
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('dist/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"  charset="UTF-8"></script>
        <script src="{{ asset('dist/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker-init.js') }}"  charset="UTF-8"></script>

        <script src="{{ asset('dist/js/app.js') }}"></script>
        <script src="{{ asset('dist/js/layout.js') }}"></script>
        <script src="{{ asset('dist/js/theme-color.js') }}"></script>

        <script src="{{ asset('dist/material/material.min.js') }}"></script>
        <script src="{{ asset('dist/material/getmdl-select.js') }}"></script>
        <script src="{{ asset('dist/material-datetimepicker/moment-with-locales.min.js') }}"></script>
        <script src="{{ asset('dist/material-datetimepicker/bootstrap-material-datetimepicker.js') }}"></script>
        <script src="{{ asset('dist/material-datetimepicker/datetimepicker.js') }}"></script>
         <!-- summernote -->
            <script src="{{ asset('dist/plugins/summernote/summernote.js') }}"></script>
            <script src="{{ asset('dist/js/pages/summernote/summernote-data.js') }}"></script>
            <script>

        $('form[name="appbundle_libraryassets"]').attr('enctype', 'multipart/form-data');
        </script>
    {% endblock %}
