{{ form_start(form) }}
<div class="row">
	<div class="col-lg-6 p-t-5">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
			{{ form_label(form.question) }}
			{{ form_widget(form.question , {'attr' : {'class' : 'form-control'}}
			) }}
		</div>
	</div>
	<div class="col-lg-6 p-t-5">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
			{{ form_label(form.type) }}
			{{ form_widget(form.type , {'attr' : {'class' : 'form-control'}}
			) }}
		</div>
	</div>
	<div class="col-lg-12 p-t-5">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
			<label for="">Answer</label>
			<textarea name="answer" id="summernote" cols="30" rows="10" required>
				{% if fAQ is defined %}
			{{fAQ.answer}}
			{% endif %}
                                    </textarea>
		</div>
	</div>
	<button class="btn btn-success w-100">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}