<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>S/N</th>
            <th class="text-center">Ref</th>
            <th class="text-center">Question</th>
            
            <th class="text-center">Type</th>
            <th class="text-center">Created</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% set i= 0 %}
            {% for fAQ in fAQs %}
                {% set i= i+ 1 %}
                    <tr>
                        <td>{{ i }}</td>
                        <td class="text-center">{{ fAQ.reference }}</td>
                        <td class="text-center">{{ fAQ.question }}</td>
                        <td class="text-center">
                            {% if fAQ.type== 1 %}
                                <span class="label label-sm label-success">General </span>
                            {% elseif fAQ.type== 2 %}
                                <span class="label label-sm label-warning">Student portal </span>

                            {% elseif fAQ.type== 3 %}
                                <span class="label label-sm label-info">Admission </span>
                            {% endif %}
                        </td>
                        <td class="text-center">{% if fAQ.created %}{{ fAQ.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu">
                               <a class="dropdown-item pt-2" href="{{ path('faq_edit', {'id': fAQ.id}) }}"><i
                                class="fas fa-edit"></i> Edit FAQ</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item pt-2" href="{{ path('faq_delete', {'id': fAQ.id}) }}"><i
                                class="fas fa-trash"></i> Delete FAQ</a>
                            </div>
                        </div>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>