{% extends 'base.html.twig' %}

{% block title %}Archive{% endblock %}

{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                    class="fa fa-angle-right"></i>
                        </li>
                        <li class=""><a href="{{ path('archive_index') }}">Archive&nbsp;<i
                                        class="fa fa-angle-right"></i></a></li>
                        <li class="active"><a href="#">Edit archive {{ archive.code }}</a></li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Edit archive <a href="{{ path('archive_index') }}" class="btn btn-info"> Back to
                                    list</a></header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            {% include 'archive/form.html.twig' with {'btnLabel' : 'Modify'} %}

                            <div class="pt-3">
                                Click to here to
                                <a href="{{ path('archive_delete', { 'id': archive.id }) }}"
                                   class="btn btn-danger"
                                   onclick="return confirm('Are you sure you want to delete this archive')">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Student info</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="displayStudentInfo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('dist/js/ajax.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('form[name="appbundle_archive"]').attr('enctype', 'multipart/form-data');
        });
    </script>
{% endblock %}

