<div class="card card-box">
    <div class="card-head">
        <header><i class="fas fa-filter"></i> Filter & Stats</header>
        <div class="tools">
            <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
        </div>
    </div>
    <div class="card-body no-padding height-9">
        <div class="row">

            <div class="col-lg-12 p-t-5">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="text1">
                    <label class="mdl-textfield__label" for="text1">Filter by Title</label>
                </div>
            </div>
            <div class="col-lg-12 p-t-5">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height select-width">
                    <input class="mdl-textfield__input" type="text" id="sample2" value="" readonly tabIndex="-1">
                    <label for="sample2" class="pull-right margin-0">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </label>
                    <label for="sample2" class="mdl-textfield__label">Filter by Level</label>
                    <ul data-mdl-for="sample2" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li class="mdl-menu__item" data-val="100">100 Level</li>
                        <li class="mdl-menu__item" data-val="200">200 Level</li>
                        <li class="mdl-menu__item" data-val="300">300 Level</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 p-t-5">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height select-width">
                    <input class="mdl-textfield__input" type="text" id="sample3" value="" readonly tabIndex="-1">
                    <label for="sample3" class="pull-right margin-0">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </label>
                    <label for="sample3" class="mdl-textfield__label">Filter by Units</label>
                    <ul data-mdl-for="sample3" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li class="mdl-menu__item" data-val="1">1</li>
                        <li class="mdl-menu__item" data-val="2">2</li>
                        <li class="mdl-menu__item" data-val="3">3</li>
                        <li class="mdl-menu__item" data-val="4">4</li>
                        <li class="mdl-menu__item" data-val="5">5</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <button type="button" class="btn btn-outline-success w-100 ">Search</button>
            </div>
        </div>
    </div>
</div>