{{ form_start(form) }}

<div class="col-lg-12 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.student) }} <span class="text-danger">*</span>
            {{ form_widget(form.student , {'attr' : {'class' : 'myselect w-100','onchange':'ajax.getStudentInfoArch();'}}
            ) }}
        </div>
</div>
<div class="col-lg-12 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.file) }} <small class="font-weight-bold text-danger">[PDF File only]</small>
            {{ form_widget(form.file , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
</div>
<button type="submit" class="btn btn-success" >{{ btnLabel }}</button>
{{ form_end(form) }}
