<div class="table-responsive">
    <table id="example1" class="display table-striped" style="width:100%;">
        <thead>
        <tr>
            <th>SerialNo</th>
            <th>Student</th>
            <th>Created</th>
            <th>File</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for archive in archives %}
            <tr>
                <td>{{ archive.code }}</td>
                <td>{{ archive.student.lastname }} {{ archive.student.firstname }} [{{ archive.student.matricNo }}]</td>
                <td>{% if archive.created %}{{ archive.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><a href="{{ asset('uploads/archives/'~archive.file) }}" download TARGET="_blank" class="btn btn-primary"><i class="fa fa-download"></i></a></td>
                <td>
                    <a class="btn btn-danger" href="{{ path('archive_edit', { 'id': archive.id }) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>