{% extends 'base.html.twig' %}

{% block title %}Archive{% endblock %}

{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                    class="fa fa-angle-right"></i>
                        </li>
                        <li class=""><a href="{{ path('archive_index') }}">Archive&nbsp;<i
                                        class="fa fa-angle-right"></i></a></li>
                        <li class="active"><a href="#">Create archive</a></li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Create new archive <a href="{{ path('archive_index') }}" class="btn btn-info"> Back
                                    to list</a></header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            {% include 'archive/form.html.twig' with {'btnLabel' : 'Create'} %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Student info</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="displayStudentInfo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>

    <script src="{{ asset('dist/plugins/select2/js/select2.js') }}"></script>
    <script src="{{ asset('dist/js/ajax.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('form[name="appbundle_archive"]').attr('enctype', 'multipart/form-data');
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('dist/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
