{% extends 'base.html.twig' %}

{% block body %}
    <h1>Archive</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ archive.id }}</td>
            </tr>
            <tr>
                <th>Student</th>
                <td>{{ archive.student }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ archive.file }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if archive.created %}{{ archive.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('archive_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('archive_edit', { 'id': archive.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
