{{ form_start(form) }}
<div class="row">
    <div class="col-lg-12 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.student) }}
            {{ form_widget(form.student , {'attr' : {'class' : 'studentSelection w-100','onchange':'ajax.getStudentInFo();'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-4 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.type) }}
            {{ form_widget(form.type , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-4 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.semester) }}
            {{ form_widget(form.semester , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-4 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.academicYear) }}
            {{ form_widget(form.academicYear , {'attr' : {'class' : 'form-control','data-mask':'9999/9999'}}
            ) }}
        </div>
    </div>

    <div class="col-lg-8 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.amount) }}
            {{ form_widget(form.amount , {'attr' : {'class' : 'form-control amount'}}

            ) }}
        </div>
    </div>
    <div class="col-lg-4 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.currency) }}
            {{ form_widget(form.currency , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>


</div>

<button class="btn btn-success w-100">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
