{% extends 'base.html.twig' %}

{% block title %}
    Fees List
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- data tables -->
    <link href="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('dist/plugins/datepicker/datepicker.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('dist/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('dist/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li>
                            <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                    class="fa fa-angle-right"></i>
                        </li>
                        <li class="">
                            <a href="#">Fees</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">
                            <a href="#">Fees List</a>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>List of Fees</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <label for="">Student</label>
                                    <select id="student" class="myselect">
                                        <option value=""></option>
                                        {% for t in students %}
                                            <option value="{{ t.id }}">{{ t.lastname }} {{ t.firstname }} ({{ t.matricNo }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="">Fees type</label>
                                    <select id="fee_type" class="form-control">
                                        <option value=""></option>
                                        {% for t in feestype %}
                                            <option value="{{ t.id }}">{{ t.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="">Fees status</label>
                                    <select id="fee_status" class="form-control">
                                        <option value="1">Cleared</option>
                                        <option value="0">Not Cleared</option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    <label for="">Select period</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <input type="text" id="startdate" placeholder="From"
                                               class="form-control start-date">
                                        <input type="text" id="enddate" placeholder="To" class="form-control end-date">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-danger mt-4 pt-3" onclick="ajax.getAudit()">Audit fees</button>
                                </div>
                            </div>
                            <div class="table-wrap" id="output">
                                {% include 'fees/list.html.twig' with {'fees' : fees} %}
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
    {% include "fees/includes/paymentModal.html.twig" %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/select2/js/select2.js') }}"></script>
    <!-- data tables -->
    <script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/table/table_data.js') }}"></script>
    <script src="{{ asset('dist/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datepicker/datepicker.js') }}"></script>
    <script src="{{ asset('dist/js/AutoNumeric.min.js') }}"></script>


    <script>
        function passId(id) {
            $('#feeid').val(id);
            $('#amount').val('');
        }
        $('.myselect').select2({
            theme: "bootstrap",
            // width: 95 %
        });
        $(function () {
            var $startDate = $('.start-date');
            var $endDate = $('.end-date');

            $startDate.datepicker({
                autoHide: true,
                format: 'yyyy-mm-dd'
            });
            $endDate.datepicker({
                autoHide: true,
                format: 'yyyy-mm-dd',
                startDate: $startDate.datepicker('getDate'),
            });

            $startDate.on('change', function () {
                $endDate.datepicker('setStartDate', $startDate.datepicker('getDate'));
            });
        });

    </script>
    <script type="text/javascript">
        jQuery(function ($) {

            new AutoNumeric(".amount", {
                decimalCharacterAlternative: " ",
                decimalPlacesRawValue: 0,
                modifyValueOnWheel: false,
                unformatOnHover: true,
                unformatOnSubmit: true
            });


        });
    </script>
{% endblock %}
