{% extends 'base.html.twig' %}

{% block title %}
    Fees Details
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('dist/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block body %}

    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li>
                            <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li class="">
                            <a href="{{path('fees_index')}}">Fees</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">
                            <a href="#">Fees Details</a>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>{{ fee.invoiceNo }}
                                Fees  Details
                                <a class=" btn btn-sm btn-success ml-5" data-target="#newPayment" data-toggle="modal" href="javascript:void(0)" onclick="passId({{fee.id}})">

                                    Make a payment</a>

                                <a href="{{ path('fees_edit', { 'id': fee.id }) }}" class=" btn btn-sm btn-info">
                                    <i class="fas fa-edit"></i>
                                    Edit</a>
                                <a href="{{ path('fees_delete', { 'id': fee.id }) }}" class=" btn btn-sm btn-danger " onclick="return confirm('Are you sure of deleting this fee?')">
                                    <i class="fas fa-trash"></i>
                                    Delete</a>
                            </header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <b>Student name:
                                            </b>
                                            <span class="pl-3">{{ fee.student.lastname }}
                                                {{ fee.student.firstname }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Fee Amount:
                                            </b>
                                            <span class="pl-3">{{ fee.amount|number_format(0,'.',' ') }}
                                                {{ fee.currency }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Academic year / Semester:
                                            </b>
                                            <span class="pl-3">{{ fee.academicYear }} / {{ fee.semester }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Created by:
                                            </b>
                                            <span class="pl-3">{{ fee.createdBy }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Modified by:
                                            </b>
                                            <span class="pl-3">
                                                {% if fee.modifiedBy is null%}
                                                    NEVER MODIFIED
                                                {% else %}
                                                    {{fee.modifiedBy}}
                                                {% endif %}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <b>Student matric No:
                                            </b>
                                            <span class="pl-3">{{ fee.student.matricNo }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Fee type:
                                            </b>
                                            <span class="pl-3">{{ fee.type.title }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Payment status:
                                            </b>
                                            <span class="pl-3">
                                                {% if fee.status %}
                                                    <span class="label label-sm label-success">Cleared
                                                    </span>
                                                {% else %}
                                                    <span class="label label-sm label-warning">Not cleared
                                                    </span>
                                                {% endif %}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Created on:
                                            </b>
                                            <span class="pl-3">
                                                {{ fee.createdOn|date('Y-m-d H:i:s') }}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Modified by:
                                            </b>
                                            <span class="pl-3">
                                                {% if fee.modifiedOn is null%}
                                                    NEVER MODIFIED
                                                {% else %}
                                                    {{fee.modifiedOn|date('Y-m-d H:i:s')}}
                                                {% endif %}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Payment lists-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card-box">
                        <div class="card-head">
                            <header>Recents Payments
                            </header>

                        </div>
                        <div class="card-body ">
                            {% set remainToPay= 0 %}

                            {% include 'payments/list.html.twig' with {'payments' : payments,'remainToPay':remainToPay,'fee':fee} %}


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    {% include "fees/includes/paymentModal.html.twig" %}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
    <!-- data tables -->
    <script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('dist/js/AutoNumeric.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/table/table_data.js') }}"></script>
    <script>
        function passId(id) {
            $('#feeid').val(id);
            $('#amount').val('');
        }
        // $('#currency').on('change', function () { // alert(this.value);
        //     if (this.value == "FCFA") {
        //
        //         $("#aer").css('display', '');
        //
        //     } else {
        //         $("#aer").css('display', 'none');
        //
        //     }
        // });
    </script>
    <script type="text/javascript">
        jQuery(function ($) {

            new AutoNumeric(".amount", {
                decimalCharacterAlternative: " ",
                decimalPlacesRawValue: 0,
                modifyValueOnWheel: false,
                unformatOnHover: true,
                unformatOnSubmit: true
            });


        });
    </script>

{% endblock %}
