{{ form_start(form) }}
<div class="row">
    <div class="col-lg-6 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.firstname , {'attr' : {'class' : 'mdl-textfield__input'}}
            ) }}
            {{ form_label(form.firstname) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.lastname , {'attr' : {'class' : 'mdl-textfield__input text-upper'}}
            ) }}
            {{ form_label(form.lastname) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.telephone , {'attr' : {'class' : 'mdl-textfield__input number'}}
            ) }}
            {{ form_label(form.telephone) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.email , {'attr' : {'class' : 'mdl-textfield__input'}}
            ) }}
            {{ form_label(form.email) }}
        </div>
    </div>
    <div class="col-lg-3 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.seniority) }}
            {{ form_widget(form.seniority , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-3 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.hod) }}
            {{ form_widget(form.hod , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-3 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.gender) }}
            {{ form_widget(form.gender , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-3 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.department) }}
            {{ form_widget(form.department , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-sm-12">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label for="">Picture (Optional)</label>
            {% if media is defined and media is not empty%}
            <small class="text-danger">A Picture exists adding anoter on will overwrite the current image!</small>
            {% endif %}
            <input type="file" name="media" class="form-control">

        </div>
    </div>
    <div class="col-sm-12">
        <button class="btn btn-success w-100">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}
