{% set i= 0 %}
{% for lecturer in lecturers %}
    {% set i= i+ 1 %}
    <tr>
        <td class="text-center">{{ i }}</td>
        <td>
            {% if lecturer.filename %}
                <img src="{{ asset('uploads/lecturers/'~ lecturer.filename) }}" alt="Lecturer"
                     class="small-pic rounded mx-auto d-block img-fluid">
            {% else %}
                <i class="fas fa-user"></i>
            {% endif %}
        </td>
        <td class="text-center">
            {% if lecturer[0].gender == 1 %}
                Mr
            {% else %}
                Mme
            {% endif %}
            <span
                    class="font-weight-bold">{{ lecturer[0].lastname }} {{ lecturer[0].firstname }}</span>
        </td>
        <td class="text-center">{{ lecturer[0].telephone }}</td>
        <td class="text-center">{{ lecturer[0].email }}</td>
        <td class="text-center">{{ lecturer[0].code }}</td>
        <td class="text-center">{{ lecturer[0].hod ? 'Yes' : 'No' }}</td>
        <td class="text-center">{{ lecturer[0].department? lecturer[0].department.title : '' }}</td>
        <td class="text-center">{{ lecturer[0].created ? lecturer[0].created|date('Y-m-d H:i:s') : '' }}</td>
        <td class="text-center">

            {#<a href="{{ path('lecturers_edit', {'id': lecturer[0].id}) }}" class="btn" title="Edit">#}
                {#<i class="fas fa-edit"></i>#}
            {#</a>#}
            <!-- Example single danger button -->
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item pt-2" href="{{ path('lecturers_edit', {'id': lecturer[0].id}) }}"><i
                                class="fas fa-edit"></i> Edit lecturer</a>

                    <div class="dropdown-divider"></div>
                    {% if lecturer[0].hasAccount is null %}
                        <a class="dropdown-item" href="{{ path('createAccountlecturer', {'id': lecturer[0].id}) }}"><i
                                    class="fas fa-user"></i> Create account</a>
                    {% else %}
                        <a class="dropdown-item" href="{{ path('changeUserStatus', {'id': lecturer[0].id}) }}"><i
                                    class="fas fa-exchange-alt"></i> Change account statut</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0){#{ path('changeAccountStatus', {'id': student.id}) }#}"><i
                                    class="fas fa-redo"></i> Reset Password</a>
                    {% endif %}

                </div>
            </div>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="10">no records found</td>
    </tr>
{% endfor %}