{% extends 'base.html.twig' %}

{% block title %}Lecturers{% endblock %}

{% block body %}
    <h1>Lecturers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lecturer.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ lecturer.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ lecturer.lastname }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ lecturer.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ lecturer.email }}</td>
            </tr>
            <tr>
                <th>Seniority</th>
                <td>{{ lecturer.seniority }}</td>
            </tr>
            <tr>
                <th>Hod</th>
                <td>{{ lecturer.hod ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ lecturer.department }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ lecturer.created ? lecturer.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Media</th>
                <td>{{ lecturer.media }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lecturers_index') }}">back to list</a>

    <a href="{{ path('lecturers_edit', {'id': lecturer.id}) }}">edit</a>

    {{ include('lecturers/_delete_form.html.twig') }}
{% endblock %}
