<form method="post" action="{{ path('course_delete', {'id': course.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');" class="mt-4">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
    <p class="text-danger"> To delete course click &nbsp;<button class="btn btn-danger">Delete</button></p>
</form>
