{% extends 'base.html.twig' %}

{% block title %}Course Assignment History{% endblock %}

    {% block body %}
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                class="fa fa-angle-right"></i>
                            </li>
                            <li class="active"><a href="#">Course Assignment History</a></li>
                        </ol>
                    </div>
                </div>
                <!-- add content here -->
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card card-box">
                            <div class="card-head">
                                <header>List of courses assigned to lecturer</header>
                                <div class="tools">
                                    <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tr>
                                                <th>Course Code</th>
                                                <th>Course Title</th>
                                                <th>Department</th>
                                                <th>Level</th>
                                                <th>Lecture assigned</th>
                                                <th class="text-center">Date Assigned</th>
                                            </tr>
                                            {% for u in assigned %}
                                                <tr>
                                                    <td class="text-uppercase">{{ u.courses.code }}</td>
                                                    <td class="text-uppercase">{{ u.courses.title }}</td>
                                                    <td>{{ u.courses.department.title }}</td>
                                                    <td>{{ u.courses.level.levelcode }}</td>
                                                    <td>{{ u.lecturers.lastname }} {{ u.lecturers.firstname }}</td>
                                                    <td class="text-center">
                                                        {{u.assignedDate|date('d/m/Y')}}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        {% include 'course/filter.html.twig' %}
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    {% block stylesheets %}
      {{ parent() }}
      <!-- data tables -->
      <link href="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}"
      rel="stylesheet"
      type="text/css"/>
  {% endblock %}
  {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/table/table_data.js') }}"></script>
{% endblock %}