{% extends 'base.html.twig' %}

{% block title %}Assign Course{% endblock %}

    {% block body %}
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                class="fa fa-angle-right"></i>
                            </li>
                            <li class="active"><a href="#">Courses</a></li>
                        </ol>
                    </div>
                </div>
                <!-- add content here -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-box">
                            <div class="card-head">
                                <header>Courses Assignment </header>
                                <div class="tools">
                                    <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="" method="POST">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <label for="lecturers">List of lecturers</label>
                                            <select name="lecturer" id="lecturers" class="myselect w-100">
                                                <option></option>
                                                {% for l in lecturers %}
                                                    <option value="{{ l.id }}">{{ l.lastname }} {{ l.firstname }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-5">
                                            <label for="usass">List of un-assigend courses</label>
                                            <select name="courses[]" multiple class="myselect w-100" id="usass">
                                                <option></option>
                                                {% for c in unassignedcourses %}
                                                    <option value="{{ c.id }}" class="text-uppercase">{{ c.title }} ({{ c.code }})</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-2">
                                            <button class="btn btn-danger mt-4">Assign Course</button>
                                        </div>
                                    </div>
                                </form>
                                <small><a class="pt-3 font-weight-bold" href="{{path('lectuerer_courses_assignment_history')}}">View history of assigned courses</a></small>

                                <div class="row">
                                    <div class="col-md-12 mt-5">
                                        <ul class="nav nav-tabs customtab" role="tablist">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home2"
                                                role="tab"><span class="hidden-sm-up"><i
                                                class="ti-home"></i></span> <span class="hidden-xs-down">Assigned Courses ({{ assignedcourses|length }}
                                                )</span></a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile2"
                                                role="tab"><span class="hidden-sm-up"><i
                                                class="ti-user"></i></span> <span class="hidden-xs-down">Unassigned Courses ({{ unassignedcourses|length }}
                                                )</span></a>
                                            </li>

                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="home2" role="tabpanel">
                                                <table class="table table-striped">
                                                    <tr>
                                                        <th>Course Code</th>
                                                        <th>Course Title</th>
                                                        <th>Department</th>
                                                        <th>Level</th>
                                                        <th>Lecture assigned</th>
                                                        <th class="text-center"><i class="fas fa-ellipsis-h"></i></th>
                                                    </tr>
                                                    {% for u in assignedcourses %}
                                                        <tr>
                                                            <td class="text-uppercase">{{ u.courses.code }}</td>
                                                            <td class="text-uppercase">{{ u.courses.title }}</td>
                                                            <td>{{ u.courses.department.title }}</td>
                                                            <td>{{ u.courses.level.levelcode }}</td>
                                                            <td>{{ u.lecturers.lastname }} {{ u.lecturers.firstname }}</td>
                                                            <td class="text-center">
                                                                <a href="{{ path('unlink_courses', {'id': u.id}) }}" class="btn btn-primary" title="Unassign course">
                                                                    <i class="fas fa-times"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                            <div class="tab-pane" id="profile2" role="tabpanel">
                                                <table class="table table-striped">
                                                    <tr>
                                                        <th>Course Code</th>
                                                        <th>Course Title</th>
                                                        <th>Department</th>
                                                        <th>Level</th>
                                                    </tr>
                                                    {% for u in unassignedcourses %}
                                                        <tr>
                                                            <td class="text-uppercase">{{ u.code }}</td>
                                                            <td class="text-uppercase">{{ u.title }}</td>
                                                            <td>{{ u.department.title }}</td>
                                                            <td>{{ u.level.levelcode }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <!-- data tables -->
        <script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ asset('dist/js/pages/table/table_data.js') }}"></script>

        <script src="{{ asset('dist/js/app.js') }}"></script>
        <script src="{{ asset('dist/js/layout.js') }}"></script>
        <script src="{{ asset('dist/js/theme-color.js') }}"></script>

        <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
        <script src="{{ asset('dist/material/material.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/select2/js/select2.js') }}"></script>
        {#<script src="{{ asset('dist/js/pages/select2/select2-init.js') }}" ></script>#}
        {#<script src="../assets/js/pages/select2/" ></script>#}
        <script>
        $('.myselect').select2({
            theme: "bootstrap",
// width:95%
});
        </script>
    {% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <!-- data tables -->
        <link href="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
        type="text/css"/>
        <link href="{{ asset('dist/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('dist/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}
