<div class="card card-box">
    <div class="card-head">
        <header><i class="fas fa-filter"></i> Filter & Stats</header>
        <div class="tools">
            <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
        </div>
    </div>
    <div class="card-body no-padding height-9">
        <div class="row">

            <div class="col-lg-12 p-t-5">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="title">
                    <label class="mdl-textfield__label" for="title">Filter by Title</label>
                </div>
            </div>


            <div class="col-lg-12 p-t-5">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height select-width">
                    <label for="units">Filter by Units</label>
                    <select class="form-control" name="" id="units">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                </div>
            </div>
            <div class="col-lg-12">
                <button type="button" onclick="ajax.filterCourse()" class="btn btn-outline-success w-100 ">Search</button>
            </div>
        </div>
    </div>
</div>