<table id="" class="table table-bordered table-striped dataTble">
    <thead>
    <tr>
        <th class="text-center">S/N</th>
        <th class="text-center">Title</th>
        <th class="text-center">Code</th>
        <th class="text-center">Units</th>
        {% if assign is not defined %} <th class="text-center">Created</th>{% endif %}
        <th class="text-center"><i class="fas fa-ellipsis-h"></i></th>
    </tr>
    </thead>
    <tbody>{% set i= 0 %}
    {% for course in courses %}
        {% set i= i+ 1 %}
        <tr>
            <td class="text-center">{{ i }}</td>
            <td class="text-center font-weight-bold">{{ course.title }}</td>
            <td class="text-center">{{ course.code }}</td>
            <td class="text-center">{{ course.units }}</td>
            {% if assign is not defined %}
                <td class="text-center">{{ course.created ? course.created|date('Y-m-d H:i:s') : '' }}</td>{% endif %}
            <td class="text-center">
                {#<a href="#}{#{ path('course_show', {'id': course.id}) }#}{#" class="mr-3 btn" title="View">#}
                {#<i class="fas fa-eye"></i>#}
                {#</a>#}
                {% if assign is defined %}
                    <a href="{{ path('add_course_registration', {'courseid': course.id,'studentid':student}) }}"
                       class="btn" title="Assign to students">
                        <i class="fas fa-check"></i>
                    </a>
                {% else %}
                    <a href="{{ path('course_edit', {'id': course.id}) }}" class="btn" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ path('studentList', {'id': course.id}) }}" class="btn" title="View registered students">
                        <i class="fas fa-eye"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>