<!doctype html>
<html lang="en">
<head>
    <title>ESGTBENIN STUDENT COURSE SLIP</title>
    <link href="https://esgtbenin.v-schl.com/web/dist/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
</head>
<style>
    .times-font {
        font-family: "Times New Roman";
    }

    .esgt-text {
        font-size: 46px;
    }

    body {
        background: url("https://esgtbenin.v-schl.com/web/dist/img/logo-fade.png");
        -webkit-background-size: auto;
        /*background-size: contain;*/
        background-repeat: no-repeat;
        background-position: center;
        margin: 0;
    }

    .top-container > div {
        display: inline-block;
        margin-bottom: 5px;
    }
</style>
<body>
<div class="container">
    <div class="row top-container">
        <table>
            <tr>
                <td><img src="https://esgtbenin.v-schl.com/web/dist/img/logo.png" alt="LOGO" class="img-fluid"
                         style="width:120px">
                </td>
                <td style="padding-top:30px;">
                    <div>
                        <h2 class="text-center times-font font-weight-bold esgt-text"><a href="javascript:void(0)">ESGT-BENIN
                                UNIVERSITY</a></h2>
                        <h4 class="text-center times-font">ECOLE SUPERIEURE DE GESTION ET DE TECHNOLOGIE <br>
                            Accreditation No: 049/MESRS/CAB/DC/SGM/DPP/DPES/SA <br>
                        </h4>
                        <h4 class="text-center">Address: Vedoko, Opposite Sanya Motors after carrefour "La vie"</h4>
                        <h5 class="text-center times-font">
                            <a href="www.esgt-benin.com"><u>www.esgt-benin.com</u></a>, <a href=""><u>esgtbenin@gmail.com</u></a>
                            <br>
                            Tel: (+229) 61483075, 96559194, 67457564
                        </h5>
                    </div>
                </td>
                <td>
                    <img src="https://esgtbenin.v-schl.com/web/dist/img/benin.PNG" alt="BENIN" class="img-fluid"
                         style="width:120px">
                </td>
            </tr>
        </table>
    </div>

    <div class="row mt-5">
        <table
                class="w-100">

            {# {{ dump(paymentinfo) }} #}

            <tr>
                <td>
                    <fieldset class="border p-2">
                        <legend class="w-auto">
                            <small class="text-muted p-2" style="font-size:small">
                                Student name:</small>
                        </legend>
                        {{student.lastname}}
                        {{student.firstname}}

                    </fieldset>
                </td>
                <td>
                    <fieldset class="border p-2">
                        <legend class="w-auto">
                            <small class="text-muted p-2" style="font-size:small">
                                Student Matric No</small>
                        </legend>
                        {{student.matricNo}}

                    </fieldset>
                </td>
                <td>
                    <fieldset class="border p-2">
                        <legend class="w-auto">
                            <small class="text-muted p-2" style="font-size:small">
                                Department | Level</small>
                        </legend>
                        {{student.department.departmentCode}}
                        |
                        {{student.level}}

                    </fieldset>
                </td>
            </tr>
        </table>
        <br>
        <table class="table table-striped w-100">
            <tr>
                <th>S/N</th>
                <th class="text-center">Course title</th>
                <th class="text-center">Course code</th>
                <th class="text-center">Units</th>
                <th class="text-center">Lecturer’s signature</th>
            </tr>
            {% if courses is not empty %}
                {% set i= 0 %}
                {% set totalUnit= 0 %}
                {% for c in courses %}
                    {% set i= i+ 1 %}
                    {% set totalUnit= totalUnit + c.units %}
                    <tr>
                        <td>{{ i }}</td>
                        <td class="text-center text-uppercase font-weight-bold">{{ c.title }}</td>
                        <td class="text-center text-uppercase">{{ c.code }}</td>
                        <td class="text-center text-uppercase">{{ c.units }}</td>
                        <td>&nbsp;</td>
                    </tr>
                {% endfor %}
                <tr style="background-color:#808080;">
                    <td colspan="4" class="text-right" style="font-weight:bold;font-size:18px;">Total Course Unit</td>
                    <td style="font-weight:bold;font-size:18px;">{{ totalUnit }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5"><h6 class="text-center font-weight-bold">No course as has been registered for you
                            yet!</h6></td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>
<script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script>
    $(document).ready(function () {
        window.print();

        function afterPrint() {
            window.location.replace("https://esgt-benin.com/https://highlife-intl.com/dashboard");
        }

        window.onafterprint = afterPrint;
    });
</script>

</body>
</html>