{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                    class="fa fa-angle-right"></i>
                        </li>
                        <li class="active"><a href="#">Courses</a></li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Student Courses Assignment</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            {#<form action="" method="POST">#}
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <label for="lecturers">Filter by Level</label>
                                    <select class="myselect w-100" id="level">
                                        <option></option>
                                        {% for l in level %}
                                            <option value="{{ l.id }}">{{ l.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-5">
                                    <label for="usass">Filter by Department</label>
                                    <select class="myselect w-100" id="department">
                                        <option></option>
                                        {% for c in department %}
                                            <option value="{{ c.id }}">{{ c.title }} ({{ c.departmentCode }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-2">
                                    <button class="btn btn-danger mt-4" onclick="ajax.filterCourseForRegistration()">
                                        Filter
                                    </button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-6 mb-3">
                                    <h3 class="font-weight-bold">List of courses for {{ student.matricNo }} <a
                                                href="{{ path('download_course_sheet',{'id':student.id}) }}"
                                                class="btn btn-info" title="Download course-sheet"><i
                                                    class="fa fa-download"></i></a></h3>
                                    <table id="example1" class="display table-striped" style="width:100%;">
                                        <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Course title</th>
                                            <th title="Registration date">Regis. date</th>
                                            <th title="Academic Year | Semester">Academic Yr | Semester</th>
                                            <th><i class="fas fa-ellipsis-h"></i></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set o =0 %}
                                        {% for s in coursesRegistered %}
                                            {% set o = o+1 %}
                                            <tr>
                                                <td>{{ o }}</td>
                                                <td>{{ s.course.title }}</td>
                                                <td>{{ s.created|date('d/m/Y') }}</td>
                                                <td>{{ s.academicYear.year }} | {{ s.academicYear.semester }}</td>
                                                <td><a href="{{ path('remove_course_registration',{'id':s.id}) }}"
                                                       title="Unregister courses" class="btn btn-danger"><i
                                                                class="fa fa-times"></i></a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                                <div class="col-sm-12 col-md-6 mb-3">
                                    <div class="table-responsive">
                                        <h3 class="font-weight-bold">List of courses</h3>
                                        <div class="table-responsive" id="output">
                                            {% include 'course/list.html.twig' with {'courses' : courses,'student':student.id} %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#</form>#}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- data tables -->
    <script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/table/table_data.js') }}"></script>

    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/select2/js/select2.js') }}"></script>
    <script src="{{ asset('dist/js/ajax.js') }}"></script>
    {#<script src="{{ asset('dist/js/pages/select2/select2-init.js') }}" ></script>#}
    {#<script src="../assets/js/pages/select2/" ></script>#}
    <script>
        $('.myselect').select2({
            theme: "bootstrap",
// width:95%
        });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- data tables -->
    <link href="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('dist/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('dist/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
