{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                    class="fa fa-angle-right"></i>
                        </li>
                        <li class="active"><a href="{{ path('course_index') }}">Courses</a></li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>List of registered student for: <b> {{ studentsCourse[0].course.title }} ({{ studentsCourse[0].course.code }}) </b></header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-center">S/N</th>
                                            <th class="text-center">Matric N°</th>
                                            <th class="text-center">Fullname</th>
                                            <th class="text-center">Level</th>
                                            <th class="text-center">Department</th>
                                            <th class="text-center">Course Registration Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set i= 0 %}
                                        {% for sC in studentsCourse %}
                                            {% set i= i+ 1 %}
                                        <tr>
                                            <td class="text-center">{{ i }}</td>
                                            <td class="text-center">{{ sC.student.matricNo }}</td>
                                            <td class="text-center">{{ sC.student.lastname }} {{ sC.student.firstname }}</td>
                                            <td class="text-center">{{ sC.student.level }} Level</td>
                                            <td class="text-center">{{ sC.student.department.departmentCode }}</td>
                                            <td class="text-center">{{ sC.created|date('d/m/Y H:i') }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
{% endblock %}