<!-- start header -->
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <!-- logo start -->
        <div class="page-logo">
            <a href="">
                {#<span class="logo-icon material-icons fa-rotate-45">school</span>#}
                <img src="{{ asset('dist/img/logo.png') }}" alt="LOGO" style="height: 45px;">
                <span class="logo-default font-weight" >V-SCHL APP</span> </a>
        </div>
        <!-- logo end -->
        <ul class="nav navbar-nav navbar-left in">
            <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
        </ul>
        {#<form class="search-form-opened" action="#" method="GET">#}
            {#<div class="input-group">#}
                {#<input type="text" class="form-control" placeholder="Search..." name="query">#}
                {#<span class="input-group-btn">#}
                          {#<a href="javascript:;" class="btn submit">#}
                             {#<i class="icon-magnifier"></i>#}
                           {#</a>#}
                        {#</span>#}
            {#</div>#}
        {#</form>#}
        <!-- start mobile menu -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>
        <!-- end mobile menu -->
        <!-- start header menu -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li><a href="javascript:;" class="fullscreen-btn"><i class="fa fa-arrows-alt"></i></a></li>
                <!-- start language menu -->
                <li class="dropdown language-switch">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <img src="{{ asset('dist/img/flags/gb.png') }}" class="position-left" alt=""> English <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu">

                        <li>
                            <a class="english"><img src="{{ asset('dist/img/flags/gb.png') }}" alt=""> English</a>
                        </li>
                        <li>
                            <a class="espana"><img src="{{ asset('dist/img/flags/es.png') }}" alt=""> French</a>
                        </li>

                    </ul>
                </li>
                <!-- end language menu -->
                <!-- start notification dropdown -->
                {# <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="fas fa-bell"></i>
                        <span class="badge headerBadgeColor1"> 6 </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3><span class="bold">Notifications</span></h3>
                            <span class="notification-label purple-bgcolor">New 6</span>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list small-slimscroll-style" data-handle-color="#637283">
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">just now</span>
                                        <span class="details">
                                                <span class="notification-icon circle deepPink-bgcolor"><i class="fa fa-check"></i></span> Congratulations!. </span>
                                    </a>
                                </li>
                                
                            </ul>
                            <div class="dropdown-menu-footer">
                                <a href="javascript:void(0)"> All notifications </a>
                            </div>
                        </li>
                    </ul>
                </li> #}
                <!-- end notification dropdown -->

                <!-- start manage user dropdown -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" src="" />
                        <span class="username username-hide-on-mobile">
                            {{ app.user.username }}
                        </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="{{path('userSetting')}}">
                                <i class="icon-user"></i> Setting </a>
                        </li>

                        {#<li>#}
                            {#<a href="#">#}
                                {#<i class="icon-directions"></i> Help#}
                            {#</a>#}
                        {#</li>#}
                        <li class="divider"> </li>

                        <li>
                            <a href="{{ path('fos_user_security_logout') }}" class="text-danger">
                                <i class="icon-logout"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
                <!-- end manage user dropdown -->
                {#<li class="dropdown dropdown-quick-sidebar-toggler">#}
                    {#<a id="headerSettingButton" class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton">#}
                        {#<i class="material-icons">more_vert</i>#}
                    {#</a>#}
                {#</li>#}
            </ul>
        </div>
    </div>
    <!-- start horizontal menu -->
   {% include 'block/menu.html.twig' %}
    <!-- end horizontal menu -->
</div>
<!-- end header -->