<div class="navbar-custom">
    <div class="hor-menu hidden-sm hidden-xs">
        <ul class="nav navbar-nav">
            <li class="mega-menu-dropdown ">
                <a href="{{ path('dashboard') }}" class="dropdown-toggle">
                    <i class="material-icons">dashboard</i>
                    Dashboard
                </a>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                <li class="classic-menu-dropdown mega-menu-dropdown">
                    <a class=" megamenu-dropdown" data-close-others="true" href="#">
                        <i class="fa fa-users"></i>
                        Students
                        <i class="fa fa-angle-down"></i>
                        <span class="arrow "></span>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px;">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <a href="{{ path('students_index') }}" class="nav-link ">
                                                    <span class="title">All Students</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('students_new') }}" class="nav-link ">
                                                    <span class="title">Add Student</span>
                                                </a>
                                            </li>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}

                                                <li class="dropdown-submenu">
                                                    <a href="javascript:;">
                                                        Online Exam</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="nav-item">
                                                            <a href="{{ path('exams_index') }}" class="nav-link ">
                                                                <span class="title">Exam  list</span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="{{ path('exams_new') }}" class="nav-link ">
                                                                <span class="title">Create Exam</span>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="{{ path('scheduledexam_new') }}" class="nav-link ">
                                                                <span class="title">Scheduled Examinations</span>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>

                                            {% endif %}
                                            <li>
                                                <a href="{{ path('studentSponsorList') }}" class="nav-link ">
                                                    <span class="title">Student sponsor list</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('generate_admission_form') }}" class="nav-link ">
                                                    <span class="title">Admission form</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a class="nav-link " href="{{path('transcript_index')}}">
                                                    <span class="title">Transcript</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="classic-menu-dropdown mega-menu-dropdown">
                    <a class=" megamenu-dropdown" data-close-others="true" href="#">
                        <i aria-hidden="true" class="fa fa-graduation-cap"></i>
                        Courses
                        <i class="fa fa-angle-down"></i>
                        <span class="arrow "></span>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px;">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <a href="{{ path('course_index') }}" class="nav-link ">
                                                    <span class="title">All Courses</span>
                                                </a>
                                            </li>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <li>
                                                    <a href="{{ path('course_new') }}" class="nav-link ">
                                                        <span class="title">Add Course</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('scores_board') }}" class="nav-link ">
                                                        <span class="title">Score Board</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a href="{{ path('department_index') }}" class="nav-link ">
                                                    <span class="title">Manage Departments</span>
                                                </a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="classic-menu-dropdown mega-menu-dropdown">
                    <a class=" megamenu-dropdown" data-close-others="true" href="#">
                        <i class="fa fa-user"></i>
                        Lecturers
                        <i class="fa fa-angle-down"></i>
                        <span class="arrow "></span>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px;">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <a href="{{ path('lecturers_index') }}" class="nav-link ">
                                                    <span class="title">All Lecturers</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('lecturers_new') }}" class="nav-link ">
                                                    <span class="title">Add Lecturer</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('link_course') }}" class="nav-link ">
                                                    <span class="title">Assign Course</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li class="classic-menu-dropdown mega-menu-dropdown">
                <a class=" megamenu-dropdown" data-close-others="true" href="#">
                    <i aria-hidden="true" class="fa fa-book"></i>
                    E-Library
                    <i class="fa fa-angle-down"></i>
                    <span class="arrow "></span>
                </a>
                <ul class="dropdown-menu" style="min-width: 200px;">
                    <li>
                        <div class="mega-menu-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="mega-menu-submenu">
                                        <li>
                                            <a href="{{ path('libraryassets_index') }}" class="nav-link ">
                                                <span class="title">All Library Assets</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('libraryassets_new') }}" class="nav-link ">
                                                <span class="title">Add Library Asset</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="classic-menu-dropdown mega-menu-dropdown">
                    <a class=" megamenu-dropdown" data-close-others="true" href="#">
                        <i class="fas fa-user-circle"></i>
                        Staff
                        <i class="fa fa-angle-down"></i>
                        <span class="arrow "></span>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px;">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <a href="{{ path('staffs_index') }}" class="nav-link">
                                                    <span class="title">All Staff</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('staffs_new') }}" class="nav-link">
                                                    <span class="title">Add Staff</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                <li class="classic-menu-dropdown mega-menu-dropdown">
                    <a class=" megamenu-dropdown" data-close-others="true" href="#">
                        <i class="fas fa-money-bill"></i>
                        Fees
                        <i class="fa fa-angle-down"></i>
                        <span class="arrow "></span>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px;">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <a href="{{path('payments_index')}}" class="nav-link ">
                                                    <span class="title">Recent Payment</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('fees_index')}}" class="nav-link ">
                                                    <span class="title">Fees Audit</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('fees_new')}}" class="nav-link ">
                                                    <span class="title">Create a Fee
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('feestype_index')}}" class="nav-link ">
                                                    <span class="title">Type of Fees
                                                    </span>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="mega-menu-dropdown ">
                    <a href="{{ path('events_index') }}" class="nav-link nav-toggle">
                        <i class="material-icons">event</i>
                        <span class="title">Event Management</span>
                    </a>
                </li>
                
                <li class="mega-menu-dropdown classic-menu-dropdown">
                    <a class=" megamenu-dropdown" data-close-others="true" href="">
                        <i class="fa fa-star"></i>
                        <span class="title">Extra</span>
                        <i class="fa fa-angle-down"></i>
                        <span class="arrow "></span>
                    </a>
                    <ul class="dropdown-menu" style="min-width: 200px;">
                        <li>
                            <div class="mega-menu-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="mega-menu-submenu">
                                            <li>
                                                <a href="{{ path('archived_students') }}" class="nav-link ">
                                                    <span class="title">Archived Students</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('archive_index') }}" class="nav-link ">
                                                    <span class="title">Archived Documents</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('faq_index') }}" class="nav-link">
                                                    <span class="title">FAQ</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('hostel_index') }}" class="nav-link ">
                                                    <span class="title">Hostel Management</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('fimac_index') }}" class="nav-link ">
                                                    <span class="title">FIMAC Student list</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
