<!-- start sidebar menu -->
<div class="sidebar-container">
    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
        <div id="remove-scroll" class="left-sidemenu">
            <ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false" data-auto-scroll="true"
            data-slide-speed="200" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <li class="sidebar-user-panel">
                <div class="user-panel">
                    <div class="pull-left image">
                        {#<img src="" class="img-circle user-img-circle" alt="User Image"/>#}
                    </div>
                    <div class="pull-left info">
                        <p><i class="fa fa-user"></i> Username: {{ app.user.username }}</p>
                        {#<a href="#"><i class="fa fa-circle user-online"></i><span class="txtOnline"> Online</span></a>#}
                    </div>
                </div>
            </li>
            <li class="nav-item start ">
                <a href="{{ path('dashboard') }}" class="nav-link nav-toggle">
                    <i class="material-icons">dashboard</i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a href="#" class="nav-link nav-toggle">
                    <i class="fa fa-users"></i> Students <span class="fa fa-arrow-down float-right"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="{{ path('students_index') }}" class="nav-link "> <span class="title">All Students</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('students_new') }}" class="nav-link "> <span class="title">Add Student</span></a>
                    </li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item">
                        <a href="{{ path('exams_index') }}" class="nav-link "> <span class="title">Examinations</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('scheduledexam_new') }}" class="nav-link "> <span class="title">Scheduled Examinations</span></a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{{ path('studentSponsorList') }}" class="nav-link "> <span class="title">Student sponsor list</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('generate_admission_form') }}" class="nav-link "> <span class="title">Admission form</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="{{path('transcript_index')}}" class="nav-link "> <span class="title">Transcript</span></a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link nav-toggle">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Courses
                    <span class="fa fa-arrow-down float-right"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="{{ path('course_index') }}" class="nav-link "> <span
                            class="title">All Courses</span></a>
                        </li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="nav-item">
                            <a href="{{ path('course_new') }}" class="nav-link "> <span
                                class="title">Add Course</span></a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="{{ path('department_index') }}" class="nav-link "> <span class="title">Manage Departments</span></a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link nav-toggle">
                            <i class="fa fa-user"></i> Lecturers
                            <span class="fa fa-arrow-down float-right"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="{{ path('lecturers_index') }}" class="nav-link "> <span class="title">All Lecturers</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('lecturers_new') }}" class="nav-link "> <span class="title">Add Lecturer</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('link_course') }}" class="nav-link "> <span
                                    class="title">Assign Course</span></a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="#" class="nav-link nav-toggle">
                                <i class="fa fa-book" aria-hidden="true"></i> E-Library
                                <span class="fa fa-arrow-down float-right"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="{{ path('libraryassets_index') }}" class="nav-link "> <span class="title">All Library Assets</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('libraryassets_new') }}" class="nav-link "> <span class="title">Add Library Asset</span></a>
                                </li>
                            </ul>
                        </li>
                        {#{% if is_granted('ROLE_LECTURER') %}#}

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="nav-item">
                            <a href="#" class="nav-link nav-toggle">
                                <i class="fas fa-user-circle"></i> Staff
                                <span class="fa fa-arrow-down float-right"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="{{ path('staffs_index') }}" class="nav-link"> <span
                                        class="title">All Staff</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('staffs_new') }}" class="nav-link"> <span
                                            class="title">Add Staff</span></a>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="fas fa-money-bill"></i> Fees
                                        <span class="fa fa-arrow-down float-right"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="{{path('payments_index')}}" class="nav-link "> <span class="title">Recent Payment</span></a>
                                        </li><li class="nav-item">
                                            <a href="{{path('fees_index')}}" class="nav-link "> <span class="title">Fees List</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{path('fees_new')}}" class="nav-link "> <span class="title">Create a Fee </span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{path('feestype_index')}}" class="nav-link "> <span class="title">Type of Fees </span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('events_index') }}" class="nav-link nav-toggle"> <i class="material-icons">event</i>
                                        <span class="title">Event Management</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="fa fa-cubes"></i> Archive
                                        <span class="fa fa-arrow-down float-right"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link nav-toggle">
                                        <i class="fa fa-star"></i> Extra
                                        <span class="fa fa-arrow-down float-right"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="{{ path('archived_students') }}" class="nav-link "> <span class="title">Archived Students</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{ path('archive_index') }}" class="nav-link "> <span class="title">Archived Documents</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{ path('faq_index') }}" class="nav-link "> <span class="title">FAQ</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{ path('hostel_index') }}" class="nav-link "> <span class="title">Hostel Management</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{ path('hostel_index') }}" class="nav-link "> <span class="title">FIMAC Student list</span></a>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
<!-- end sidebar menu -->