{% extends 'base.html.twig' %}

{% block title %}Score Board{% endblock %}

    {% block body %}
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                        class="fa fa-angle-right"></i>
                            </li>
                            <li><a href="#">Course</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                            <li class="active"><a href="#">Score Board</a></li>
                        </ol>
                    </div>
                </div>
                <!-- add content here -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-box">
                            <div class="card-head">
                                <header>Score board page</header>
                                <div class="tools">
                                    <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-5 p-t-5">
                                        <label for=department>Filter by department</label>
                                        <select name="selDept" id="department" class="myselect w-100">
                                            <option value=""></option>
                                            {% for s in departments %}
                                                <option value="{{ s.id }}">{{ s.title }} </option>
                                            {% else %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-lg-5 p-t-5">
                                        <label for="level">Filter by Level</label>
                                        <select name="level" id="level" class="myselect w-100">
                                            <option value=""></option>
                                            {% for s in levels %}
                                                <option value="{{ s.levelcode }}">{{ s.title }} </option>
                                            {% else %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-outline-info mt-4" id="filterBtn"><i
                                                    class="fa fa-filter"></i> Filter
                                        </button>
                                    </div>
                                </div>
                                <div class="table-wrap m-t-20" id="scoreArea">


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('dist/material-datetimepicker/bootstrap-material-datetimepicker.css') }}"/>
    <link href="{{ asset('dist/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('dist/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/bootstrap-material-datetimepicker.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/datetimepicker.js') }}"></script>
    <script src="{{ asset('dist/plugins/select2/js/select2.js') }}"></script>
    <script>
        $('.myselect').select2({
            theme: "bootstrap",
        });
        $('#filterBtn').click(function () {
            ajax.scoreBoardFilterStudentByDepartmentNlevel();
        });
    </script>
{% endblock %}
