<div class="table-responsive">
    <h3 class="text-center font-weight-bold">{% if level %}{{ level.title }} {% endif %}{% if department %} {{ department.title }}{% endif %}</h3>
    <table class="" border="2" width="100%">

        {% for scores in studentscores %}
            <tr>
                <td class="font-weight-bold">{{ scores[0].matric_no }}</td>
                <td>
                    Course Code:
                    <hr>
                    Total:
                    <hr>
                    C.O
                </td>
                {% for s in scores %}
                    {% if s.studentpoint %}
                        <td class="text-center">
                            <span class="font-weight-bold">{{ s.code }}</span>
                            <hr>
                            <span class="font-weight-bold">{{ s.total }}</span>
                            <hr>
                            <span class="font-weight-bold">{{ s.noOfCarryOver }}</span>
                        </td>
                    {% else %}
                    {% endif %}

                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>