{% extends 'base.html.twig' %}

{% block title %}Scheduled Exam Modification{% endblock %}

    {% block body %}
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                        class="fa fa-angle-right"></i>
                            </li>
                            <li><a href="#">Students</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Online Exams</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                            <li class="active"><a href="#">Scheduled Exams</a></li>
                        </ol>
                    </div>
                </div>
                <!-- add content here -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="card card-box">
                            <div class="card-head">
                                <header>List of scheduled online exams</header>
                                <div class="tools">
                                    <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-wrap">
                                    {% include 'scheduledexam/list.html.twig' with {'schdexams' : schdexams} %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="card card-box">
                            <div class="card-head">
                                <header>Schedule Form</header>
                                <div class="tools">
                                    <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="card-body">
                                {{ include('scheduledexam/form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('dist/material-datetimepicker/bootstrap-material-datetimepicker.css') }}"/>
    <link href="{{ asset('dist/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('dist/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/bootstrap-material-datetimepicker.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/datetimepicker.js') }}"></script>
    <script src="{{ asset('dist/plugins/select2/js/select2.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/table/table_data.js') }}"></script>
    <script>
        $('.myselect').select2({
            theme: "bootstrap",
            // width: 95 %
        });
    </script>
{% endblock %}
