{{ form_start(form) }}
<div class="row">
    <div class="col-sm-12 col-lg-5 p-t-5">
        <label for=department>Filter by department</label>
        <select name="selDept" id="department" class="myselect w-100">
            <option value=""></option>
            {% for s in department %}
                <option value="{{ s.id }}">{{ s.title }} </option>
            {% else %}
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-12 col-lg-5 p-t-5">
        <label for="level">Filter by Level</label>
        <select name="level" id="level" class="myselect  w-100">
            <option value=""></option>
            <option value="100">100 Level</option>
            <option value="200">200 Level</option>
            <option value="300">300 Level</option>
            <option value="400">400 Level</option>
        </select>
    </div>
    <div class="col-sm-12 col-lg-1 p-t-5">
        <label for="">&nbsp;</label>
        <a href="javascript:void(0)" class="btn btn-outline-success" title="Filter"
           onclick="ajax.filterStudentByDepartmentNlevel(true);"><i
                    class="fa fa-search"></i></a>
    </div>
</div>
<div class="form-group">
    <label for="student" class="required">Select Student(s)</label>
    <div id="studentSelection">
        {% if scheduledExam is defined %}
        <select name="selStudent[]" required id="studentSelection" class="myselect w-100">
            {% else %}
            <select name="selStudent[]" required id="studentSelection" class="myselect w-100" multiple>
                {% endif %}
                <option value=""></option>
                {% for s in students %}
                    {% if scheduledExam is defined and scheduledExam.student.id == s.id %}
                        <option value="{{ s.matricNo }}" selected>{{ s.lastname }} {{ s.firstname }} ({{ s.matricNo }})
                        </option>
                    {% else %}
                        <option value="{{ s.matricNo }}">{{ s.lastname }} {{ s.firstname }} ({{ s.matricNo }})</option>
                    {% endif %}
                {% endfor %}
            </select>
    </div>
</div>
<div class="form-group">
    <label for="exams" class="required">Select Exam(s)</label>
    <select name="exams[]" required class="myselect w-100" multiple>
        <option value=""></option>
        {% for ex in exams %}
            <option value="{{ ex.id }}">{{ ex.title }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group">
    {{ form_label(form.startDate) }}
    {{ form_widget(form.startDate , {'attr' : {'class' : 'form-control date_picker_class'}}
    ) }}
</div>
<div class="form-group">
    {{ form_label(form.endDate) }}
    {{ form_widget(form.endDate , {'attr' : {'class' : 'form-control date_picker_class'}}
    ) }}
</div>
{#<div class="form-group">#}
    {#{{ form_label(form.notificationDate) }}#}
    {#{{ form_widget(form.notificationDate , {'attr' : {'class' : 'form-control date_picker_class'}}#}
    {#) }}#}
{#</div>#}

{% if scheduledExam is defined %}
    <div class="form-group">
        <label for="student" class="required">Select Academic year</label>
        <select name="academicYear" required id="student" class="form-control">
            <option value=""></option>
            {% for s in academicYears %}
                {% if  scheduledExam.academicYear.id == s.id %}
                    <option value="{{ s.id }}" selected>{{ s.year }}</option>
                {% else %}
                    <option value="{{ s.id }}">{{ s.year }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
{% endif %}
{#<div class="form-group">#}
    {#<label for="">Exam date</label>#}
    {#<input type="text" name="examdate" required#}
           {#class="form-control date_picker_class">#}
{#</div>#}
<div class="col-sm-12 mt-5">
    <button class="btn btn-success w-100">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
