<div class="table-responsive">
    <table id="example1" class="table table-striped">
        <thead>
        <tr>
            <th class="text-center"><i class="fas fa-ellipsis-h"></i></th>
            <th class="text-center">S/N</th>
            <th class="text-center">Student</th>
            <th class="text-center ">Course</th>
            <th class="text-center">Scheduled date</th>
            <th class="text-center">Attempt date</th>
            <th class="text-center">Status</th>
            <th class="text-center">Created</th>
        </tr>
        </thead>
        <tbody>
        {% set i= 0 %}
        {% for exam in schdexams %}
            {% set i= i+ 1 %}

            <tr>
                <td class="text-center">
                    <div class="dropdown">
                        <a class="btn btn-danger dropdown-toggle" href="#" role="button"
                           id="dropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item pt-2"
                               href="{{ path('scheduledexam_edit', {'id': exam.id}) }}"> <i
                                        class="fas fa-edit"></i> Edit</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                               href="{{ path('scheduledexam_status', {'id': exam.id}) }}"><i
                                        class="fas fa-exchange-alt"></i> Change status</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                               href="{{ path('scheduledexam_delete', {'id': exam.id}) }}"><i
                                        class="fas fa-trash"></i> Delete</a>
                        </div>
                    </div>
                </td>
                <td class="text-center">{{ i }}</td>
                <td class="text-center">{{ exam.student.lastname }} {{ exam.student.firstname }}
                    ({{ exam.student.matricNo }})
                </td>
                <td class="text-center">{{ exam.exams.course.title }} ({{ exam.exams.course.code }})</td>
                <td class="text-center">
                    {{ exam.startDate|date('d/m/Y') }} - {{ exam.endDate|date('d/m/Y') }}

                </td>
                <td class="text-center">
                   {% if exam.attemptDate %}
                      <span class="badge badge-dark"> {{ exam.attemptDate|date('d/m/Y') }}</span>
                   {% else %}
                       <span class="badge badge-primary">Not Attempted</span>
                   {% endif %}

                </td>
                <td class="text-center">
                    {% if exam.isdeleted %}
                        <span class="badge badge-success">Taken</span>
                    {% else %}
                        <span class="badge badge-warning">Not Taken</span>
                    {% endif %}
                </td>
                <td class="text-center">{{ exam.created ? exam.created|date('Y-m-d H:i:s') : '' }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>