{% extends 'base.html.twig' %}

{% block body %}
    <h1>Scheduledexam</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scheduledExam.id }}</td>
            </tr>
            <tr>
                <th>Examdate</th>
                <td>{% if scheduledExam.examDate %}{{ scheduledExam.examDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Notificationdate</th>
                <td>{% if scheduledExam.notificationDate %}{{ scheduledExam.notificationDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if scheduledExam.created %}{{ scheduledExam.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('scheduledexam_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('scheduledexam_edit', { 'id': scheduledExam.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
