<a href="{{ path('libraryassets_delete', {'id': library_asset.id}) }}"
   onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger btn-sm" title="Delete"><i
            class="fas fa-trash"></i></a>
