{{ form_start(form) }}
<div class="row">
    <div class="col-lg-12 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.title) }}
            {{ form_widget(form.title , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN')  %}
    <div class="col-lg-12 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.authorName) }}
            {{ form_widget(form.authorName , {'attr' : {'class' : 'form-control','required':'required'}}
            ) }}
        </div>
    </div>
        {% else %}
            <div class="col-lg-12 p-t-5" style="display:none;">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                    {{ form_label(form.authorName) }}
                    {{ form_widget(form.authorName , {'attr' : {'class' : 'form-control'}}
                    ) }}
                </div>
            </div>
    {% endif %}
    <div class="col-lg-4 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.department) }}
            {{ form_widget(form.department , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-4 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.assetType) }}
            {{ form_widget(form.assetType , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-4 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label class="col-md-4 control-label">Asset Color</label>
            <input id="cp1" type="text" name="assetcolor" readonly class="form-control" value="#5367ce" />
        </div>
    </div>
    <div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label for="" class="">Date Published</label>
            <input type="text" class="form-control date_picker_class" name="datePublished" value="{{ 'now'|date('Y-m-9') }}">
        </div>
    </div>
    <div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label for="" class="">Media <small class="font-weight-bold">(Formats allowed: PDF, PPTX, DOC, DOX | Max Size: 30Mb)</small> </label>
            <input type="file" class="form-control" name="medias">
        </div>
    </div>
    <div class="col-sm-12 mt-5">
        <button class="btn btn-success w-100">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}
