{% set i= 0 %}
{% for library_asset in libraryassets %}
    {% set i= i+ 1 %}
    <tr>
        <td>{{ i }}</td>
        <td><div style="background-color: {{ library_asset.color }};height: 25px;width: 25px;">&nbsp;</div></td>
        <td>{{ library_asset.code }}</td>
        <td>{{ library_asset.title }}</td>
        <td>{{ library_asset.datePublished ? library_asset.datePublished|date('Y-m-d') : '' }}</td>
        {#<td>{{ library_asset.publishedBy }}</td>#}
        <td>{{ library_asset.assetType }}</td>
        <td>{{ library_asset.authorName }}</td>
        <td>
            <!-- Example single danger button -->
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('libraryassets_edit', {'id': library_asset.id}) }}"><i
                                class="fas fa-edit"></i> Edit library asset</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('libraryassets_delete', {'id': library_asset.id}) }}"><i
                                class="fas fa-trash"></i> Delete library asset</a>
                </div>
            </div>
            {#<a href="#}{#{ path('library_assets_show', {'id': library_asset.id}) }#}{#" class="btn btn-info btn-sm" title="View"><i#}
                        {#class="fas fa-eye"></i> </a>#}

        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="8">no records found</td>
    </tr>
{% endfor %}