{% extends 'base.html.twig' %}

{% block title %}LibraryAssets{% endblock %}

{% block body %}
    <h1>LibraryAssets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ library_asset.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ library_asset.title }}</td>
            </tr>
            <tr>
                <th>DatePublished</th>
                <td>{{ library_asset.datePublished ? library_asset.datePublished|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PublishedBy</th>
                <td>{{ library_asset.publishedBy }}</td>
            </tr>
            <tr>
                <th>AssetType</th>
                <td>{{ library_asset.assetType }}</td>
            </tr>
            <tr>
                <th>AuthorName</th>
                <td>{{ library_asset.authorName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('library_assets_index') }}">back to list</a>

    <a href="{{ path('library_assets_edit', {'id': library_asset.id}) }}">edit</a>

    {{ include('library_assets/_delete_form.html.twig') }}
{% endblock %}
