{% block fos_user_content %}
    <!DOCTYPE html>
    <html>

    <!-- Mirrored from radixtouch.in/templates/admin/smart/source/full/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 20 Jul 2018 16:04:14 GMT -->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta name="description" content="ESGT BENIN VSCHOOL"/>
        <meta name="author" content="Visionaries-Studio"/>
        <title>ESGT V-Schl</title>
        <!-- google font -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet"
              type="text/css"/>
        <!-- icons -->
        <link href="{{ asset('dist/plugins/iconic/css/material-design-iconic-font.min.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ asset('dist/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <!-- bootstrap -->
        <link href="{{ asset('dist/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <!-- style -->
        <link href="{{ asset('dist/css/pages/extra_pages.css') }}" rel="stylesheet" type="text/css"/>
        <script src="{{ asset('dist/js/all.min.js') }}"></script>
        <!-- favicon -->
        <link rel="shortcut icon" href="{{ asset('dist/img/favicon/favicon.ico') }}"/>
    </head>
    <body>
    <div class="limiter">
        <div class="container-login100 page-background">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    <span class="login100-form-logo">
						<img alt="" src="{{ asset('dist/img/logo.png') }}" style="height: 125px;">
					</span>
                    <span class="login100-form-title p-b-34 p-t-27 font-weight-bold">
						V-Schl APp
					</span>
                    <p>
                        {% if error %}
                    <div class="col-md-12" style="color: red;text-align: center;padding-bottom: 10px;">
                        <b>
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </b>
                    </div>
                    {% else %}
                        {% for message in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger alert-alt">
                                <i class="fa fa-exclamation fa-fw"></i>
                                <strong style="color: #fff">{{ message|raw }}</strong>
                            </div>
                        {% endfor %}

                        {% for message in app.session.flashbag.get('success') %}
                            <div class="alert alert-success alert-alt">
                                <i class="fa fa-thumbs-up fa-fw"></i>
                                <strong style="color: #fff">{{ message|raw }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </p>
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100 pl-4" type="text" name="_username" placeholder="Username">
                        {#<span class="focus-input100" data-placeholder="&#xf207;"></span>#}
                        <i class="fas fa-user focus-input100 pr-2" style="font-size: x-large"></i>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100 pl-4" type="password" name="_password" placeholder="Password">
                        <i class="fas fa-lock focus-input100 pr-2" style="font-size: x-large"></i>
                    </div>
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                    <div class="text-center p-t-30">
                        <a class="txt1" href="forgot_password.html">
                            Forgot Password?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- start js include path -->
    <script src="{{ asset('dist/plugins/jquery/jquery.min.js') }}"></script>
    <!-- bootstrap -->
    <script src="{{ asset('dist/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/extra-pages/pages.js') }}"></script>
    <!-- end js include path -->
    </body>

    <!-- Mirrored from radixtouch.in/templates/admin/smart/source/full/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 20 Jul 2018 16:04:17 GMT -->
    </html>
{% endblock fos_user_content %}