<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>ESGT-BENIN RECEIPT</title>
        <link href="{{ absolute_url(asset('dist/plugins/bootstrap/css/bootstrap.min.css')) }}" rel="stylesheet" type="text/css"/>
        <style>
            .times-font {
                font-family: "Times New Roman";
            }
            .esgt-text {
                font-size: 46px;
            }

            @font-face {
                font-family: 'GreatVibes';
                src: url('localhost/v-schl/web/dist/fonts/GreatVibes-Regular.otf');
            }
            #wordAmount {
                font-family: GreatVibes-Regular;
                font-size: 25px;
                text-transform: capitalize;
                font-weight: normal !important;
            }
            #number {
                font-size: 24px;
                font-weight: bold !important; 
                text-align: right;
            }
        </style>
    </head>
    <body>
        <div class="container border border-danger pl-4 pr-4 pt-4">

            <div class="row top-container">
                <table class="w-100">
                    <tr>
                        <td class="text-center" style="width:30%">
                            <img src="{{ absolute_url(asset('dist/img/logo.png')) }}" alt="LOGO" class="img-fluid" style="width:120px">


                        </td>
                        <td>
                            <h6>
                                <div class="text-center times-font pl-3">
                                    <small>ECOLE SUPERIEURE DE GESTION ET DE TECHNOLOGIE</small>
                                    <br>
                                    <small>
                                        Accreditation No: 049/MESRS/CAB/DC/SGM/DPP/DPES/SA</small>

                                </div>
                                <br>

                                <div class="text-center times-font pl-3"></div>
                            </h6>
                            <h1 class="text-center times-font font-weight-bold pl-3">PAYMENT RECEIPT</h1>
                        </td>
                        <td style="width:20%;">
                            <b>Date:</b>
                            <span style="border:2px solid;padding:3px 5px;font-weight:bold">{{'now'|date('d')}}</span>

                            <span style="border:2px solid;padding:3px 5px;font-weight:bold">{{'now'|date('m')}}</span>

                            <span style="border:2px solid;padding:3px 5px;font-weight:bold">{{'now'|date('Y')}}</span>
                            <br>
                            <b>
                                Ref N•:</b>
                            <span style="border-bottom:1px solid;">#{{paymentinfo.reference}}</span>
                        </td>
                    </tr>
                </table>


                <table
                    class="w-100">

                    {# {{ dump(paymentinfo) }} #}

                    <tr>
                        <td>
                            <fieldset class="border p-2">
                                <legend class="w-auto">
                                    <small class="text-muted p-2" style="font-size:small">
                                        Student name:</small>
                                </legend>
                                {{paymentinfo.theFee.student.lastname}}
                                {{paymentinfo.theFee.student.firstname}}

                            </fieldset>
                        </td>
                        <td>
                            <fieldset class="border p-2">
                                <legend class="w-auto">
                                    <small class="text-muted p-2" style="font-size:small">
                                        Student Matric No</small>
                                </legend>
                                {{paymentinfo.theFee.student.matricNo}}

                            </fieldset>
                        </td>
                        <td>
                            <fieldset class="border p-2">
                                <legend class="w-auto">
                                    <small class="text-muted p-2" style="font-size:small">
                                        Department | Level</small>
                                </legend>
                                {{paymentinfo.theFee.student.department.departmentCode}}
                                |
                                {{paymentinfo.theFee.student.level}}

                            </fieldset>
                        </td>
                    </tr>
                </table>
                <table style="width:100%; margin-top:20px">
                    <tr style="font-size:17px;">
                        <td style="width:18%;">Recieved amount of</td>
                        <td style="padding-left:20px;border-bottom:1px solid">
                            <span id="wordAmount">{{wordNumber}}</span>
                            <p style="margin-bottom:-24px;text-align:center;font-size:12px">
                                <i>Amount in words</i>
                            </p>

                        </td>
                        <td style="padding-left:10px;width:inhiert;">In</td>
                        <td
                            style="border-bottom:1px solid;font-weight:bold;letter-spacing:1px">
                             {{paymentinfo.currency}}
                            {#Naira#}
                        </td>
                    </tr>
                </td>
            </table>

            <table style="width:100%;margin-top:30px">

                <tr style="font-size:17px;">
                    <td style="width:13%;">For the payment of</td>
                    <td style="width:35%;border-bottom:1px solid;letter-spacing:0.3px">{{paymentinfo.theFee.academicYear}}&nbsp;&nbsp;
                        {{paymentinfo.theFee.semester}}'s&nbsp;
                        <span style="font-size:19px;font-weight:bold;">&nbsp;{{paymentinfo.theFee.type.title}}</span>

                    </td>
                    <td id="number" style="width:25%;border:2px solid;padding-left:10px">{{paymentinfo.amount|number_format(2,'.',' ')}}</td>


                </tr>
            </table>
            <p class="font-italic pt-2 font-weight-bold">
                {% set remainToPay= 0 %}
                {% set remainToPay= paymentinfo.theFee.amount -totalPaid %}
                {% if remainToPay== 0 %}
                    <span class="text-success">NB: This fee has been cleared
                    </span>
                {% else %}
                    NB: This fee has not been cleared, amount remaining to be paid:
                    <span class="text-danger">
                        <u>{{remainToPay|number_format(2,'.',' ')}}
                            {{ paymentinfo.currency }}</u>
                    </span>

                {% endif %}
<br>
<span class="text-center">Fees paid are not refundable</span>
            </p>
        </body>
    </body>
</html></body></html>
