{% extends 'base.html.twig' %}
{% block title %}Events{% endblock %}

{% block body %}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">

                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                        class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Events</li>
                </ol>
            </div>
        </div>
        <!-- add content here -->

        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="card-box">
                    <div class="card-head">
                        <header>Calendar</header>
                    </div>
                    <div class="card-body ">
                        <div class="panel-body">
                            <div id="calenda" class="has-toolbar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Edit events</header>
                        <div class="tools">
                            <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">
                        Create a catergory <a href="" class="btn btn-info btn-sm">Click here</a>
                        <form name="event" class="row" method="POST" action="{{ path('events_new') }}" enctype="multipart/form-data">
                            <input type="hidden" value="{{ single.id }}" name="id">
                            <div class="col-lg-12 p-t-5">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    <img src="{{ single.mediaLink }}" class="mx-auto d-block mb-2" style="max-height: 54px" alt="Media">
                                    
                                    <input type="file" name="image" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6 p-t-5">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    <label for="" class="mdl-textfield__input">Event Lanuage *</label>
                                    <select name="lang" required class="form-control" id="">
                                        <option value="EN">ENGLISH</option>
                                        <option value="FR">FRENCH</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 p-t-5">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    <label for="" class="mdl-textfield__input">Category</label>
                                    <select name="category" class="form-control">
                                        <option value=""></option>
                                        {% for c in category %}
                                        {% if single.category.id == c.id %}
                                        <option selected value="{{ c.id }}">{{ c.title }}</option>
                                        {% else %}
                                        <option value="{{ c.id }}">{{ c.title }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 p-t-5">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    <input type="text" value="{{ single.title }}" name="title" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-lg-6 p-t-5">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    <input type="text" value="{{ single.eventStartDate|date('Y-m-d') }}" name="startdate" required
                                    class="form-control date_picker_class">
                                </div>
                            </div>
                            <div class="col-lg-6 p-t-5">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    <input type="text" value="{{ single.eventEndDate|date('Y-m-d') }}" name="enddate" class="form-control date_picker_class">
                                </div>
                            </div>
                            <div class="col-lg-12 p-t-5">
                                <textarea name="formsummernote" id="summernote" cols="30" rows="10" required>
                                    {{ single.description|raw }}
                                </textarea>
                            </div>
                            <div class="col-lg-12 p-t-20">
                                <button type="submit" class="btn btn-success w-100">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('dist/plugins/fullcalendar/fullcalendar.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('dist/plugins/fullcalendar/fullcalendar.print.min.css') }}" rel="stylesheet" media='print'/>
<style>

body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

</style>
<script src="{{ asset('dist/plugins/fullcalendar/moment.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('dist/material-datetimepicker/bootstrap-material-datetimepicker.css') }}"/>
{#<link href="{{ asset('dist/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css') }}" rel="stylesheet" type="text/css" />#}
{#<link href="{{ asset('dist/plugins/bootstrap-editable/inputs-ext/address/address.css') }}" rel="stylesheet" type="text/css" />#}
<link href="{{ asset('dist/plugins/summernote/summernote.css') }}" rel="stylesheet">
<link href="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
type="text/css"/>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('dist/plugins/fullcalendar/jquery2.js') }}"></script>
<script src="{{ asset('dist/plugins/popper/popper.js') }}"></script>
<script src="{{ asset('dist/plugins/jquery-blockui/jquery.blockui.min.js') }}"></script>
<script src="{{ asset('dist/plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
<!-- bootstrap -->
<script src="{{ asset('dist/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('dist/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
<script src="{{ asset('dist/plugins/material/material.min.js') }}"></script>
<script src="{{ asset('dist/plugins/fullcalendar/fullcalendar.min.js') }}"></script>
<script src="{{ asset('dist/material-datetimepicker/moment-with-locales.min.js') }}"></script>
<script src="{{ asset('dist/material-datetimepicker/bootstrap-material-datetimepicker.js') }}"></script>
<script src="{{ asset('dist/material-datetimepicker/datetimepicker.js') }}"></script>
<script src="{{ asset('dist/js/all.min.js') }}"></script>
<script src="{{ asset('dist/js/app.js') }}"></script>
<script src="{{ asset('dist/js/layout.js') }}"></script>
<script src="{{ asset('dist/js/theme-color.js') }}"></script>
<!-- data tables -->
{#<script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>#}
{#<script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>#}
<!-- summernote -->
<script src="{{ asset('dist/plugins/summernote/summernote.js') }}"></script>
<script src="{{ asset('dist/js/pages/summernote/summernote-data.js') }}"></script>
<script>
$(document).ready(function () {
    var d = new Date();
    function getMonth(date) {
        var month = date.getMonth() + 1;
                return month < 10 ? '0' + month : '' + month; // ('' + month) for string result
            }

            var strDate = d.getFullYear() + "-" + getMonth(d) + "-" + d.getDate();
            var strDate1 = d.getUTCDate();

            $('#calenda').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                defaultDate: strDate1,
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                events: {{ events|raw }}
            });

        });

</script>
{% endblock %}
