{% extends 'base.html.twig' %}
{% block title %}Events{% endblock %}

{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">

                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                    class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">Events</li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->

            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="card-box">
                        <div class="card-head">
                            <header>Calendar</header>
                        </div>
                        <div class="card-body ">
                            <div class="panel-body">
                                <div id="calenda" class="has-toolbar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Add events</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body ">
                            Create a catergory
                            <button data-toggle="modal" data-target="#newCategory" class="btn btn-info btn-sm">Click
                                here
                            </button>
                            Catergory list
                            <button data-toggle="modal" data-target="#listCategory" class="btn btn-info btn-sm">Click
                                here
                            </button>
                            <form name="event" class="row" method="POST" action="{{ path('events_new') }}"
                                  enctype="multipart/form-data">
                                <div class="col-lg-12 p-t-5">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        <label for="" class="mdl-textfield__input">Event Image *</label>
                                        <input type="file" name="image" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-5">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        <label for="" class="mdl-textfield__input">Event Lanuage *</label>
                                        <select name="lang" required class="form-control" id="">
                                            <option value="EN">ENGLISH</option>
                                            <option value="FR">FRENCH</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-5">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        <label for="" class="mdl-textfield__input">Category</label>
                                        <select name="category" class="form-control">
                                            <option value=""></option>
                                            {% for c in category %}
                                                <option value="{{ c.id }}">{{ c.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 p-t-5">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        <input type="text" placeholder="Title*" name="title" class="form-control"
                                               required>
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-5">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        <input type="text" placeholder="Start date *" name="startdate" required
                                               class="form-control date_picker_class">
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-5">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        <input type="text" placeholder="End date" name="enddate"
                                               class="form-control date_picker_class">
                                    </div>
                                </div>
                                <div class="col-lg-12 p-t-5">
                                    <textarea name="formsummernote" id="summernote" cols="30" rows="10" required>
                                    </textarea>
                                </div>
                                <div class="col-lg-12 p-t-20">
                                    <button type="submit" class="btn btn-success w-100">Save</button>
                                </div>
                            </form>

                            <!-- Modal -->

                        </div>
                    </div>
                    <div class="modal fade" id="newCategory" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form action="{{ path('events_category') }}" method="POST">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-uppercase" id="exampleModalLabel">Create new
                                            category</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-9 p-t-10">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                    <input class="mdl-textfield__input" type="text" name="titleCategory"
                                                           id="text1">
                                                    <label class="mdl-textfield__label" for="text1">Category
                                                        Title</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 p-t-20">
                                                <label for="">Is Popular?</label> <br>
                                                <input type="checkbox" name="popular">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="listCategory" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form action="{{ path('events_category') }}" method="POST">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel">Category list</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-sm-12">
                                            <table id="example1" class="table table" style="width:100%;">
                                                <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Popular</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for c in category %}
                                                <tr>
                                                    <td>{{ c.title }}</td>
                                                    <td>{{ c.poular ? 'Yes' : 'No' }}</td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/plugins/fullcalendar/fullcalendar.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('dist/plugins/fullcalendar/fullcalendar.print.min.css') }}" rel="stylesheet" media='print'/>
    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>
    <script src="{{ asset('dist/plugins/fullcalendar/moment.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('dist/material-datetimepicker/bootstrap-material-datetimepicker.css') }}"/>
    {#<link href="{{ asset('dist/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css') }}" rel="stylesheet" type="text/css" />#}
    {#<link href="{{ asset('dist/plugins/bootstrap-editable/inputs-ext/address/address.css') }}" rel="stylesheet" type="text/css" />#}
    <link href="{{ asset('dist/plugins/summernote/summernote.css') }}" rel="stylesheet">
    <link href="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('dist/plugins/fullcalendar/jquery2.js') }}"></script>
    <script src="{{ asset('dist/plugins/popper/popper.js') }}"></script>
    <script src="{{ asset('dist/plugins/jquery-blockui/jquery.blockui.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
    <!-- bootstrap -->
    <script src="{{ asset('dist/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/material/material.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/fullcalendar/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/bootstrap-material-datetimepicker.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/datetimepicker.js') }}"></script>
    <script src="{{ asset('dist/js/all.min.js') }}"></script>
    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>
    <!-- data tables -->
    {#<script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>#}
    {#<script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>#}
    <!-- summernote -->
    <script src="{{ asset('dist/plugins/summernote/summernote.js') }}"></script>
    <script src="{{ asset('dist/js/pages/summernote/summernote-data.js') }}"></script>
    <script>
        $(document).ready(function () {
            var d = new Date();
            function getMonth(date) {
                var month = date.getMonth() + 1;
                return month < 10 ? '0' + month : '' + month; // ('' + month) for string result
            }

            var strDate = d.getFullYear() + "-" + getMonth(d) + "-" + d.getDate();
            var strDate1 = d.getUTCDate();

            $('#calenda').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                defaultDate: strDate1,
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                events: {{ events|raw }}
            });

        });

    </script>
{% endblock %}
