{% extends 'base.html.twig' %}
{% block title %}Events{% endblock %}

{% block body %}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Events</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Events</li>
                </ol>
            </div>
        </div>
        <!-- add content here -->

        <div class="row">
            Create a catergory <a href="">click here</a>
            {{ form_start(form) }}
            <div class="col-sm-12">
                <div class = "mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                    {{ form_label(form.puissance ) }}
                    {{ form_widget(form.puissance , {'attr' : {'class' : 'mdl-textfield__label'}}
                    ) }}
                    <input class = "" type = "text" id = "txtDepName">
                    <label class = "mdl-textfield__label">Department Name</label>
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Valider"/>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}