<form method="post" action="{{ path('exams_delete', {'id': exam.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exam.id) }}">
    <p class="text-danger"> To delete exam click &nbsp;<button class="btn">Delete</button></p>
</form>
