{{ form_start(form) }}
<div class="row">
    <div class="col-lg-12 p-t-20">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_widget(form.title , {'attr' : {'class' : 'mdl-textfield__input'}}
            ) }}
            {{ form_label(form.title) }}
        </div>
    </div>

    <div class="col-lg-6 p-t-10">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.difficulty) }}
            {{ form_widget(form.difficulty , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-10">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.course) }}
            {{ form_widget(form.course , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-12 p-t-5">
        <label for="" class="font-weight-bold">Description</label>
        {% if exam is defined %}
        <textarea name="formsummernote" id="summernote" cols="30" rows="10" required>
            {{ exam.description }}
                                    </textarea>
        {% else %}
        <textarea name="formsummernote" id="summernote" cols="30" rows="10" required>
                                    </textarea>
        {% endif %}
    </div>
    <div class="col-sm-12 mt-3 mb-3">
        <button class="btn btn-success w-100">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}
