{% set i = 0 %}
{% for e in exams%}
{% set i= i+1 %}
<tr>
	<td class="text-center">{{ i }}</td>
	<td class="text-center">{{ e.title }}</td>
	<td class="text-center">{{ e.numberofquestions }}</td>
	<td class="text-center text-uppercase">{{ e.course.title }}</td>
	<td class="text-center">{{ e.difficulty }}</td>
	<td class="text-center">{{ e.created|date('d/m/Y') }}</td>
	<td>
		<!-- Example single danger button -->
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item pt-2" href="{{ path('exams_edit', {'id': e.id}) }}"><i
                                class="fas fa-edit"></i> Edit Exam</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item pt-2" onclick="return confirm('Are you sure you want to delete this exam?');" href="{{ path('exams_delete', {'id': e.id}) }}"><i
                                class="fa fa-trash"></i> Delete exam</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item pt-2" href="{{ path('question_list', {'id': e.id}) }}"><i
                                class="fa fa-book-open"></i> Question list</a>
                </div>
            </div>

	</td>
</tr>
{% else %}
<tr>
	<td>
<b>No Data in this table</b>
	</td>
</tr>
{% endfor %}