{% extends 'base.html.twig' %}

{% block body %}
    <h1>Exam</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exam.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ exam.title }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if exam.startdate %}{{ exam.startdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if exam.enddate %}{{ exam.enddate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ exam.description }}</td>
            </tr>
            <tr>
                <th>Difficulty</th>
                <td>{{ exam.difficulty }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ exam.status }}</td>
            </tr>
            <tr>
                <th>Numberofquestions</th>
                <td>{{ exam.numberofquestions }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if exam.created %}{{ exam.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('exams_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('exams_edit', { 'id': exam.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
