{% extends 'base.html.twig' %}

{% block body %}
    <h1>Feestype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feesType.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ feesType.title }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if feesType.created %}{{ feesType.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('feestype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('feestype_edit', { 'id': feesType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
