<div class="input-group mb-3">
    <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <select name="feesType[]" class="" id="">
                                                        <option value="">Select a fee </option>
                                                        {% for f in fees %}
                                                            <option value="{{ f.title }}">{{ f.title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </span>
    </div>
    <input type="tel" class="form-control amountss" placeholder="Amount"
           name="feeamount[]" aria-describedby="basic-addon1">
</div>
<script src="{{ asset('dist/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('dist/js/jquery.mask.js') }}"></script>
<script type="text/javascript">
    $('.amountss').mask('000 000 000 000 000')
</script>