<div class="table-responsive">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>S/N</th>
            <th class="text-center">Student</th>
            <th class="text-center">Type</th>
            <th class="text-center">Amount</th>
            <th class="text-center">Academicyear</th>
            <th class="text-center">Status</th>
            <th class="text-center">Created by</th>
            <th class="text-center">Created on</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% set i= 0 %}
        {% for fee in fees %}
            {% set i= i+ 1 %}
            <tr>
                <td class="text-center">{{i}}</td>
                <td>{{ fee.lastname }} {{ fee.firstname }} ({{ fee.matric_no }})</td>
                <td class="text-center">{{ fee.title }}</td>
                <td class="text-center">{{ fee.amount|number_format(0,'.',',')  }} {{ fee.currency }}</td>
                <td class="text-center">{{ fee.academicYear }}</td>

                <td class="text-center">{% if fee.status %}
                        <span class="label label-sm label-success">Cleared </span>
                    {% else %}
                        <span class="label label-sm label-warning">Not cleared </span>
                    {% endif %}
                </td>
                <td class="text-center">{{ fee.createdBy }}</td>
                <td class="text-center">
                    {% if fee.createdOn %}
                        {{ fee.createdOn|date('Y-m-d H:i:s') }}
                    {% endif %}
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item pt-2" href="javascript:void(0)" data-toggle="modal" data-target="#newPayment" onclick="passId({{fee.id}})"><i
                                        class="fab fa-amazon-pay"></i> Make a payment</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item pt-2" href="{{ path('fees_show', { 'id': fee.id }) }}"><i
                                        class="fas fa-eye"></i> View details</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item pt-2" href="{{ path('fees_edit', { 'id': fee.id }) }}"><i
                                        class="fas fa-edit"></i> Edit fees</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item pt-2" href="{{ path('fees_delete', { 'id': fee.id }) }}" onclick="return confirm('Are you sure of deleting this fee?')"><i
                                        class="fas fa-trash"></i> Delete fee</a>

                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<link href="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
      type="text/css"/>
<!-- start js include path -->
<script src="{{ asset('dist/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('dist/plugins/popper/popper.js') }}"></script>
<script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('dist/js/pages/table/table_data.js') }}"></script>