<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="newPayment" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{{ path('payments_new') }}" method="POST">
                <div class="modal-header">
                    <h4 class="modal-title text-uppercase" id="exampleModalLabel">Make a new payment</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 p-t-10">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <div class="form-group">
                                    <label class="" for="amount">Amount</label>
                                    <input class="form-control amount" id="amount" name="amount" type="text">


                                </div>
                                <div class="form-group" id="aer" style="display:none">

                                    <label for="exchange">Current Exchange Rate</label>
                                    <small class="text-danger font-weight-bold">Kindly enter the exchange rate of CFA -> Naira</small>

                                    <input class="form-control" id="exchange" name="aer" type="number">

                                </div>

                                <div class="form-group">
                                    <label for="currency">Currency</label>
                                    <select class="form-control" id="currency" name="currency">

                                        <option value="Naira">Naira</option>
                                        <option value="FCFA">FCFA</option>
                                    </select>
                                </div>

                                <input id="feeid" name="feeid" type="hidden">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close
                    </button>
                    <button class="btn btn-primary" onclick="return confirm('Are you sure of paying this amount?')" type="submit">Pay</button>
                </div>
            </form>
        </div>
    </div>
</div>
