<div class="card card-topline-aqua">
    <div class="card-body no-padding height-9">
        {% if media is not null  or student is not null %}
            <div class="row">
                <div class="profile-userpic">

                    {% if media is null or media is empty %}
                        <i class="fa fa-user-circle"></i>
                    {% else %}
                        <img src="{{ media.linkphoto }}" class="img-responsive" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">{{ student.lastname }}
                    {{ student.firstname }}</div>
                <div class="profile-usertitle-job">
                    {{ student.matricNo }}
                </div>
            </div>
            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <b>Admission Type</b>
                    <a class="pull-right text-uppercase">{{ student.admissionType }}</a>
                </li>
                <li class="list-group-item">
                    <b>Dept | Level</b>
                    <a class="pull-right">{{ student.department.departmentCode }} | {{ student.levelOfEntry }}
                        Level</a>
                </li>
                <li class="list-group-item">
                    <b>Gender</b>
                    <a class="pull-right">{{ student.gender ? 'Male' : 'Female' }}</a>
                </li>
            </ul>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <div
                class="profile-userbuttons">
                {#<button type="button" class="btn btn-circle green btn-sm">Follow</button>#}
                <a href="{{ path('students_edit', {'id': student.id}) }}" target="_blank" class="btn btn-circle red btn-sm">View More / Edit</a>
            </div>
            <!-- END SIDEBAR BUTTONS -->
        {% else %}
            <h4 class="text-danger text-center">The student has no matric number because he/she has not been admitted yet !
            </h4>
        {% endif %}

    </div>
</div>
