{% if mutiple == 'true' %}
    <select required name="selStudent[]" multiple
            id="studentList" class="myselect w-100"
            onchange="ajax.getStudentInFo();">
        {% for s in students %}
            <option value="{{ s.matricNo }}">{{ s.lastname }} {{ s.firstname }}</option>
        {% else %}
            <option value="">Empty</option>
        {% endfor %}
    </select>
{% else %}
    <select required name="selStudent"
            id="studentList" class="myselect w-100"
            onchange="ajax.getStudentInFo();">
        {% for s in students %}
            <option value="{{ s.matricNo }}">{{ s.lastname }} {{ s.firstname }}</option>
        {% else %}
            <option value="">Empty</option>
        {% endfor %}
    </select>
{% endif %}

<link href="{{ asset('dist/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ asset('dist/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>

<script src="{{ asset('dist/plugins/select2/js/select2.js') }}"></script>
<script src="{{ asset('dist/js/ajax.js') }}"></script>
{#<script src="{{ asset('dist/js/pages/select2/select2-init.js') }}" ></script>#}
    {#<script src="../assets/js/pages/select2/" ></script>#}
<script>
    $('.myselect').select2({
        theme: "bootstrap",
        // width: 95 %
    });
</script>