<div class="row">
    <div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.lastname) }}<span class="text-danger">*</span>
            {{ form_widget(form.lastname , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.firstname) }}<span class="text-danger">*</span>
            {{ form_widget(form.firstname , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label for="" class="floating-label mdl-textfield__input">Date of Birth <span class="text-danger"></span></label>
            <input type="text" class="form-control date_picker_class" name="dob" value="{{ student.dateOfBirth|date('d-m-Y') }}">
        </div>
    </div>
    <div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.gender) }}<span class="text-danger">*</span>
            {{ form_widget(form.gender , {'attr' : {'class' : 'form-control '}}
            ) }}
        </div>
    </div>

    <div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form1.telephone) }}<span class="text-danger">*</span>
            {{ form_widget(form1.telephone , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form1.email) }}<span class="text-danger">*</span>
            {{ form_widget(form1.email , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-5">
        <div class="">
            {{ form_label(form.nationality) }} <span class="text-danger"></span><br>
            {{ form_widget(form.nationality , {'attr' : {'class' : 'form-control basicselect w-100'}}
            ) }}
        </div>
    </div><div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form1.address) }}<span class="text-danger"></span>
            {{ form_widget(form1.address , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>

</div>