<div class="row">
    {% if student is defined and student.level is not null %}
        <div class="col-lg-3 p-t-5">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                {{ form_label(form.admissionType) }} <span class="text-danger">*</span>
                {{ form_widget(form.admissionType , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
        <div class="col-lg-3 p-t-5">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                {{ form_label(form.levelOfEntry) }} <span class="text-danger">*</span>
                {{ form_widget(form.levelOfEntry , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
        <div class="col-lg-3 p-t-5">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                <label for="level">Current Level <span class="text-danger">*</span></label>
                <select class="form-control" id="level" name="level">
                    {% for l in level %}
                        {% if student.level == l.levelcode %}
                            <option selected value="{{ l.levelcode }}">{{ l.levelcode }} Level</option>
                        {% else %}
                            <option value="{{ l.levelcode }}">{{ l.levelcode }} Level</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-3 p-t-5">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                {{ form_label(form.department) }} <span class="text-danger">*</span>
                {{ form_widget(form.department , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    {% else %}
        <div class="col-lg-4 p-t-5">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                {{ form_label(form.admissionType) }}<span class="text-danger">*</span>
                {{ form_widget(form.admissionType , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
        <div class="col-lg-4 p-t-5">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                {{ form_label(form.levelOfEntry) }}<span class="text-danger">*</span>
                {{ form_widget(form.levelOfEntry , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
        <div class="col-lg-4 p-t-5">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                {{ form_label(form.department) }}<span class="text-danger">*</span>
                {{ form_widget(form.department , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    {% endif %}
    <div class="col-lg-4 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.admission) }}<span class="text-danger">*</span>
            {{ form_widget(form.admission , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-4 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.oLevelResult) }}<span class="text-danger"></span>
            {{ form_widget(form.oLevelResult , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>

    <div class="col-lg-4 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.noOfSitting) }}<span class="text-danger"></span>
            {{ form_widget(form.noOfSitting , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
</div>