<div class="row">
    <div class="col-lg-12 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form2.fullname) }} <span class="text-danger"></span>
            {{ form_widget(form2.fullname , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form2.telephone) }} <span class="text-danger"></span>
            {{ form_widget(form2.telephone , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form2.email) }}
            {{ form_widget(form2.email , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form2.address) }}
            {{ form_widget(form2.address , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form2.relationshipType) }} <span class="text-danger"></span>
            {{ form_widget(form2.relationshipType , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>
</div>