<div class="row">
    <div class="col-lg-6 p-t-20">
        {% if studentMedia is defined and studentMedia is not empty %}
            Dowonload the file <a href="{{ studentMedia.linkphoto }}" target="_blank" download class="btn btn-warning"><i class="fa fa-download"></i></a>
        {% endif %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label>Student passeport photo <small>Format: JPG,PNG</small></label>
            <input type="file" class="form-control" name="pphoto">
        </div>
    </div>
    <div class="col-lg-6 p-t-20">
        {% if studentMedia is defined and studentMedia is not empty %}
            Dowonload the file <a href="{{ studentMedia.linkcertificate }}" target="_blank" download class="btn btn-warning"><i class="fa fa-download"></i></a>
        {% endif %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            <label>O'Level Result <small>Format: PDF</small></label>
            <input type="file" class="form-control" name="olevelresult">
        </div>
    </div>
</div>