{# <form class="pl-3" method="post" action=""> #}
    {# <input type="hidden" name="_method" value="DELETE"> #}
    {# <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}"> #}
   
{% if student.isdeleted is null or student.isdeleted == 0 %}
<a href="{{ path('archived_student', {'id': student.id}) }}" class="btn btn-danger"  onclick="return confirm('Are you sure you want to archive this student?');">Click here to archive student</a>
{% else %}
	<a href="{{ path('restore_archived_students', {'id': student.id}) }}" class="btn btn-warning"  onclick="return confirm('Are you sure you want to restore this student?');">Click here to restore student</a>
{% endif %}
{# </form> #}
