
{{ form_start(form) }}
<div id="wizard">
    <h1>Student Info</h1>
    <div class="p-3">
        {{ include('students/include/studentinfo.html.twig') }}
    </div>
    <h1>Student School</h1>
    <div class="p-3">
        {{ include('students/include/studentschool.html.twig') }}
    </div>
    <h1>Student Guardian/Next of Kin</h1>
    <div class="p-3">
    {{ include('students/include/studentguradian.html.twig') }}
    </div>
    <h1>Uploads</h1>
    <div class="p-3">
    {{ include('students/include/uploads.html.twig') }}
    </div>
</div>

<div class="col-sm-12 mt-3">
    <button class="btn btn-success w-100 hidden" id="submit">{{ button_label|default('Save') }}</button>
</div>
{#{{ form_rest(form1) }}#}
{#{{ form_rest(form2) }}#}
{{ form_end(form) }}
