<div class="card card-box">
    <div class="card-head">
        <header><i class="fas fa-filter"></i> Filter & Stats</header>
        <div class="tools">
            <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
        </div>
    </div>
    <div class="card-body no-padding height-9">
        <div class="row">

            <div class="col-lg-12 p-t-5">
                <div class = "mdl-textfield mdl-js-textfield">
                    <input class = "mdl-textfield__input filter-fields" type = "text" id = "firstname" name="keyword">
                    <label class = "mdl-textfield__label" for = "firstname">Enter a keyword</label>
                </div>
            </div>
<small class="text-info p-3"><i class="fa fa-exclamation-circle"></i> The keyword can either be the students names or matric N°</small>
            {#<div class="col-lg-12 p-t-5">#}
                {#<div class = "mdl-textfield mdl-js-textfield">#}
                    {#<input class = "mdl-textfield__input filter-fields" type = "text" id = "lastname" name="lastname">#}
                    {#<label class = "mdl-textfield__label" for = "lastname">Filter by Surname</label>#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-lg-12 p-t-5">#}
                {#<div class = "mdl-textfield mdl-js-textfield">#}
                    {#<input class = "mdl-textfield__input filter-fields" type = "text" id = "matric" name="matric">#}
                    {#<label class = "mdl-textfield__label" for = "matric">Filter by Matric N°</label>#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-lg-12 p-t-5">#}
                {#<select name="" id="adminType" class="form-control filter-fields mb-3">#}
                    {#<option value="regular">Regular Student</option>#}
                    {#<option value="online">Online Students</option>#}
                {#</select>#}

            {#</div>#}
            <input type="hidden" value="Students" id="entity">
            <div class="col-lg-12">
                <button type="button" class="btn btn-outline-success w-100 " onclick="ajax.filterStudent()">Search</button>
            </div>
        </div>
    </div>
</div>