{% extends 'base.html.twig' %}

{% block title %}ADMISSION FORM{% endblock %}

{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                    class="fa fa-angle-right"></i>
                        </li>
                        <li class="active"><a href="#">Students</a></li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Admission form details</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Field with <span class="text-danger">*</span> are required fields
                            </h5>
                            <form action="" method="POST" class="row">

                                <div class="col-sm-12 col-lg-5 p-t-5">
                                    <label for=department>Filter by department</label>
                                    <select name="selDept" id="department" class="myselect w-100">
                                        <option value=""></option>
                                        {% for s in department %}
                                            <option value="{{ s.id }}">{{ s.title }} </option>
                                        {% else %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-12 col-lg-5 p-t-5">
                                    <label for="level">Filter by Level</label>
                                    <select name="level" id="level" class="myselect  w-100">
                                        <option value=""></option>
                                        <option value="100">100 Level</option>
                                        <option value="200">200 Level</option>
                                        <option value="300">300 Level</option>
                                        <option value="400">400 Level</option>
                                    </select>
                                </div>
                                <div class="col-sm-12 col-lg-1 p-t-5">
                                    <label for="">&nbsp;</label>
                                    <a href="javascript:void(0)" class="btn btn-outline-success" title="Filter"
                                       onclick="ajax.filterStudentByDepartmentNlevel();"><i
                                                class="fa fa-search"></i></a>
                                </div>
                                <div class="col-lg-12 p-t-15">
                                    <label for="studentList">Select student to view info <span
                                                class="text-danger">*</span></label>
                                    <div id="studentSelection">
                                        <select required name="selStudent"
                                                id="studentList" class="studentSelection w-100"
                                                onchange="ajax.getStudentInFo();">
                                            <option value=""></option>
                                            {% for s in students %}
                                                <option value="{{ s.id }}">{{ s.lastname }} {{ s.firstname }}</option>
                                            {% else %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-5">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        <label for="date">Select admission form date <span class="text-danger">*</span></label>
                                        <input type="text" placeholder="Date *" name="date" required
                                               class="form-control date_picker_class" id="date">
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-5">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        <label for="date">Select admission year <span
                                                    class="text-danger">*</span></label>
                                        <input type="text" placeholder="Example: 2018/2019 *" name="admissionYear"
                                               required id="academicYear"
                                               class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-11 p-t-5" id="feeslist">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <select name="feesType[]" class="" id="">
                                                        <option value="">Select a fee </option>
                                                        {% for f in feeType %}
                                                            <option value="{{ f.title }}">{{ f.title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </span>
                                        </div>
                                        <input type="text" class="form-control amountss" placeholder="Amount"
                                               name="feeamount[]" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-lg-1 p-t-5">
                                    <button type="button" class="btn btn-success" id="addFees"
                                            onclick="ajax.addfees();"><i class="fa fa-plus"></i></button>
                                </div>

                                <div class="col-lg-12 p-t-5">
                                    <button class="btn btn-danger w-100">PREVIEW ADMISSION FORM</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Student info</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="displayStudentInfo">
                                <p class="text-center">Selected student's info are displayed here</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/select2/js/select2.js') }}"></script>
    <script src="{{ asset('dist/js/jquery.mask.js') }}"></script>
    {#<script src="{{ asset('dist/js/pages/select2/select2-init.js') }}" ></script>#}
    {#<script src="../assets/js/pages/select2/" ></script>#}
    <script>
        $('.myselect').select2({
            theme: "bootstrap",
            // width: 95 %
        });
        $('.studentSelection').select2({
            theme: "bootstrap",
            // width: 95 %
        });
    </script>
    <script src="{{ asset('dist/plugins/fullcalendar/moment.min.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/bootstrap-material-datetimepicker.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/datetimepicker.js') }}"></script>
    <script src="{{ asset('dist/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js') }}"></script>
    <script src="{{ asset('dist/js/AutoNumeric.min.js') }}"></script>
    <script type="text/javascript">
        $('.amountss').mask('000 000 000 000 000')
        $('#academicYear').mask('0000/0000')

        // jQuery(function ($) {
        //
        //     new AutoNumeric(".amount", {
        //         decimalCharacterAlternative: " ",
        //         decimalPlacesRawValue: 0,
        //         modifyValueOnWheel: false,
        //         unformatOnHover: true,
        //         unformatOnSubmit: true
        //     });
        //
        //
        // });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('dist/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('dist/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('dist/material-datetimepicker/bootstrap-material-datetimepicker.css') }}"/>

{% endblock %}