<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>ESGT-BENIN ADMISSION FORM</title>
    <link href="{{ absolute_url(asset('dist/plugins/bootstrap/css/bootstrap.min.css')) }}" rel="stylesheet" type="text/css"/>
    <style>
    .times-font {
        font-family: "Times New Roman";
    }
    .esgt-text {
        font-size: 46px;
    }
    body {
            /*background: url("https://esgtbenin.v-schl.com/web/dist/img/logo-fade.png");

            -webkit-background-size: auto;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;*/

            /*margin: 0;*/
            font-family: Time New Roman;
        }
.logoBody{
    background: url("https://esgtbenin.v-schl.com/web/dist/img/logo-fade.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
        .top-container > div {
            display: inline-block;
            margin-bottom: 5px;
        }
        .card-size {
            height: 283px;
            width: 397px;
            border: solid 2px;
        }
        p {
            margin-bottom: 0;
        }
        #break{
            page-break-before: always;
        }
        </style>
    </head>

    <body>
        <div class="card-size">
            <table class="w-100">
                <tr>
                    <td><img src="{{ absolute_url(asset('dist/img/logo.png')) }}" alt="LOGO" class="img-fluid" style="width:55px"></td>
                    <td style="background-color:rgb(0,0,102)">

                        <p class="text-center times-font text-light font-weight-bold esgt-text" style="font-size:14px;">
                            ESGT-BENIN UNIVERSITY
                        </p>
                        <p class="text-center text-light times-font" style="font-size:8px;">

                            <span style="font-size:10px;color:#ffff00;">
                                ECOLE SUPERIEURE DE GESTION ET DE TECHNOLOGIE</span>
                                <br>
                                <span class="text-light mr-2" href="www.esgt-benin.com">
                                    Website: www.esgt-benin.com
                                </span>
                                <span class="text-light" href="">
                                    Email: esgtbenin@gmail.com
                                </span>
                                <br>
                                Contact: (+229) 61483075, 96559194, 67457564
                                <br>
                                Address: Vedoko, Opposite Sanya Motors after carrefour "La vie"</p>
                            </span>
                        </td>

                    </td>
                    <td style="background-color:rgb(0,0,102)">
                        <img src="{{ absolute_url(asset('dist/img/benin2.PNG')) }}" alt="BENIN" class="img-fluid" style="width:70px"/>
                    </td>
                </tr>
            </table>

            <table class="w-100 border-bottom border-top">
                <tr>
                    <td style="width:25%"><span style="font-size:11px"> Accreditation No:</span></td>
                    <td><span style="font-size:12px;line-height:0.5px;">49/MESRS/CAB/DC/SGM/DPP/DGES/DPES/SA 329/MESRS/CAB/DC/SGM/DPP/DGES/DPES/SA</span></td>
                </tr>
            </table>

            <table class="w-100 mt-1">
                <tr>
                    <td style="font-size:10px;text-align:center;font-weight:bold">STUDENT ID CARD</td>
                    <td style="font-size:10px;text-align:center;"><b>Academic Year: {{student.academicYear.year}}</b> </td>
                </tr>
            </table>
            <table class="w-100 mt-1"  style="font-size:12px">
                <tr>
                    <td style="width:60%">
                        <p><b> Full-name:</b> <span class="text-upper">{{student.lastname}}</span> {{student.firstname}}</p>
                        <p><b> Date of Birth:</b> {{student.dateOfBirth|date('d-m-Y')}}</p>
                        <p><b> Nationality:</b> {{student.nationality.en}}</p>
                        {# <b> FAculty:</b> #}
                        <p><b> Department:</b> {{student.department.title}}</p>
                        <p><b> Level:</b> {{student.levelOfEntry}}</p>
                    </td>
                    <td><img src="{{studentMedia.linkphoto}}" alt="" style="height:105px;"></td>
                </tr>
            </table>
            <div class="w-100 p-1" style="background-color:firebrick;color:#fff;font-size:10px;">Matric No: {{student.matricNo}} </div>
        </div>
        <div style="" id="break"> 
            <div class="card-size ">
                <div class="mt-2 pl-2 pr-3 logoBody"> 

                    <p style="font-weight:bold;font-size:12px;letter-spacing:1.1px;line-height:18px">
                    Cette carte est rigoureusement personelle. En cas de <br>perte, l'Etudiant devra en faire déposition dans un <br>commissariat de police et payer les frais d'impression <br>du duplica.
                    </p>

                    <p style="font-weight:bold;font-size:12px;letter-spacing:0.8px;line-height:18px" class="mt-3">
                    This card is strictly personal. In case of loss, the student <br>will have to testify to the nearest police station and pay <br>the cost of printing duplicate. 
                    </p>
                    <br>  
                    <img src="{{ absolute_url(asset('dist/img/esgt-stamp.PNG')) }}" alt="registar" style="height: 91px;" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </body>
    </html>
