<link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
<link href="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}"
      rel="stylesheet"
      type="text/css"/>
<script src="{{ asset('dist/plugins/jquery/jquery.min.js') }}"></script>

<script src="{{ asset('dist/material/material.min.js') }}"></script>
<script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('dist/js/pages/table/table_data.js') }}"></script>
{#{% endblock %}#}


<table id="example1" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>S/N</th>
        <th>Matric N°</th>
        <th>Fullname</th>
        <th>Gender</th>
        <th>Program</th>
        <th>Admission</th>
        <th>Dept|Level</th>
        <th>Date of entry</th>
        <th class="text-center"><i class="fas fa-ellipsis-h"></i></th>
    </tr>
    </thead>
    <tbody>{% set i= 0 %}
    {% for student in students %}
        {% set i= i+ 1 %}
        {% if student.isdeleted is null or student.isdeleted == 0 %}
            <tr>
        {% else %}
            <tr class="bg-secondary">
        {% endif %}
        <td>{{ i }}</td>
        <td>{{ student.matricNo }}</td>
        <td>{{ student.firstname }}
            {{ student.lastname }}</td>
        <td>{{ student.gender ? 'Male' : 'Female' }}</td>
        <td>
            {% if student.admissionType == 'regular' %}
                <span class="label label-sm label-success">Regular
                </span>
            {% else %}
                <span class="label label-sm label-warning">Online
                </span>
            {% endif %}
        </td>
        <td class="text-center">
            {% if student.admission == 0 %}
                <span class="label label-sm label-info">BSC
                </span>
            {% else %}
                <span class="label label-sm label-primary">MSC
                </span>
            {% endif %}
        </td>
        <td>
            <b>{{ student.departmentCode }}</b>&nbsp;|&nbsp;<b>{{ student.level }}</b>
        </td>
        <td>{{ student.created ? student.created|date('Y-m-d') : '' }}</td>
        <td>
            <!-- Example single danger button -->
            <div class="btn-group">
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-danger dropdown-toggle"
                        data-toggle="dropdown" type="button">
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item pt-2" href="{{ path('students_edit', {'id': student.id}) }}">
                        <i class="fas fa-edit"></i>
                        Edit student</a>
                    {% if student.matricNo is not null %}
                        {% if student.isdeleted is null or student.isdeleted == 0 %}

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item pt-2"
                               href="{{ path('student_course_registration', {'id': student.id}) }}">
                                <i class="fa fa-book-open"></i>
                                Register courses</a>
                            {% if student.waiting ==1 and student.hasAccount == 1 or student.hasAccount is null %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('generateID', {'id': student.id}) }}">
                                    <i class="fas fa-address-card"></i>
                                    Generate student ID</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('createAccount', {'id': student.id}) }}">
                                    <i class="fas fa-user"></i>
                                    Create account</a>
                            {% else %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   href="{{ path('changeAccountStatus', {'id': student.id}) }}">
                                    <i class="fas fa-exchange-alt"></i>
                                    Change account statut</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('resetPassword', {'id': student.id}) }}">
                                    <i class="fas fa-redo"></i>
                                    Reset password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('makeeditable', {'id': student.id}) }}">
                                    <i class="fas fa-pen-square"></i>
                                    Change editable status</a>
                            {% endif %}
                        {% else %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('admit',{'id':student.id}) }}">
                                <i class="fas fa-check"></i>
                                Admit student</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('reject',{'id':student.id}) }}">
                                <i class="fas fa-trash"></i>
                                Reject student</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item pt-2"
                               href="{{ path('restore_archived_students', {'id': student.id}) }}"
                               onclick="return confirm('Are you sure you want to restore this student?');">
                                <i class="fas fa-registered"></i>
                                Restore student</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item pt-2" href="{{ path('students_delete', {'id': student.id}) }}"
                               onclick="return confirm('Are you sure you want to delete this student?');">
                                <i class="fas fa-trash-alt"></i>
                                Delete student</a>
                        {% endif %}
                    {% else %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('admit',{'id':student.id}) }}">
                            <i class="fas fa-check"></i>
                            Admit student</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('reject',{'id':student.id}) }}">
                            <i class="fas fa-trash"></i>
                            Reject student</a>
                    {% endif %}
                </div>
            </div>


        </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="11">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{#{% block javascripts %}#}
    {#{{ parent() }}#}

{#<script src="{{ asset('dist/plugins/jquery/jquery.min.js') }}"></script>#}

{#<script src="{{ asset('dist/material/material.min.js') }}"></script>#}
{#<script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>#}
{#<script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>#}
{#<script src="{{ asset('dist/js/pages/table/table_data.js') }}"></script>#}
