{% extends 'base.html.twig' %}

{% block title %}New Students{% endblock %}

{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                    class="fa fa-angle-right"></i>
                        </li>
                        <li><a href="{{ path('students_index') }}">Student</a> <i
                                    class="fa fa-angle-right"></i></li>
                        <li class="active">New Student</li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="card card-box">
                <div class="card-head">
                    <header>Create new Student</header>
                    <div class="tools">
                        <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                {{ include('students/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/steps/steps.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/material-datetimepicker/bootstrap-material-datetimepicker.css') }}"/>
    <link href="{{ asset('dist/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('dist/material/material.min.js') }}"></script>
    <script src="{{ asset('dist/material/getmdl-select.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/bootstrap-material-datetimepicker.js') }}"></script>
    <script src="{{ asset('dist/material-datetimepicker/datetimepicker.js') }}"></script>
    <script src="{{ asset('dist/plugins/steps/jquery.steps.js') }}"></script>
    <script src="{{ asset('dist/js/pages/steps/steps-data.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="{{ asset('dist/js/studentValidation.js') }}"></script>
    <!--select2-->
    <link href="{{ asset('dist/css/select2.min.css') }}" rel="stylesheet"/>
    <script src="{{ asset('dist/js/select2.min.js') }}"></script>
    <script>
        // validateform();
        $("#student_telephone").inputFilter(function (value) {
            return /^\d*$/.test(value);
        });
        $('.paginate').click(function () {
                // if (validateform()) {

                    var attrb = $(this).attr("href");
                    if (attrb === '#finish') {
                        $('#sa-paramss').click();
                        $('#submit').trigger('click');
                    }
                // }
            }
        );
        $(document).ready(function () {
        $('form[name="appbundle_students"]').attr('enctype', 'multipart/form-data');
            $('.basicselect').select2();
        });
    </script>
{% endblock %}