<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ESGT-BENIN ADMISSION FORM</title>
    <link href="{{ asset('dist/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
</head>
<style>
    .times-font {
        font-family: "Times New Roman";
    }

    .esgt-text {
        font-size: 56px;
    }

    body {
        background: url("../../dist/img/logo-fade.png");
        -webkit-background-size: auto;
        /*background-size: contain;*/
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
<body>
<div class="container">
    <div class="row mb-3">
        <form action="{{ path('sendGeneratedAdmissionForm') }}" class="col-md-12" method="post">
            <input type="hidden" name="selStudent" value="{{ selStudent.id }}">
            <input type="hidden" name="feeamount" value="{{ js_feeamounts }}">
            <input type="hidden" name="admissionYear" value="{{ admissionYear }}">
            <input type="hidden" name="feesType" value="{{ js_feesType }}">
            {#{% if praticalfee is not empty %}#}
            {#<input type="hidden" name="praticalfee" value="{{ praticalfee }}">#}
            {#{% endif %}#}
            {#<input type="hidden" name="medicalfee" value="{{ medicalfee }}">#}
            {#<input type="hidden" name="tuitionfee" value="{{ tuitionfee }}">#}
            <input type="hidden" name="selDept" value="{{ selStudent.department.id }}">
            <input type="hidden" name="selStudentLevel" value="{{ selStudent.level }}">
            <input type="hidden" name="date" value="{{ date|date('d-m-Y') }}">
            <h5 class="text-center font-weight-bold">This a preview of the admission form that will be sent to the
                student</h5>
            <button type="submit" class="btn btn-danger d-block mx-auto">SEND TO STUDENT <i
                        class="fa fa-envelope-o"></i></button>
        </form>
    </div>
    <div class="row">
        {#{% set div=0 %}#}
        {#{% set div= 0.4* tuitionfee %}#}
        <div class="col-md-2"><img src="{{ asset('dist/img/logo.png') }}" alt="LOGO" class="img-fluid"
            ></div>
        <div class="col-md-8 pt-5">
            <h1 class="text-center times-font font-weight-bold esgt-text"><a href="javascript:void(0)">ESGT-BENIN
                    UNIVERSITY</a></h1>
            <h4 class="text-center times-font">ECOLE SUPERIEURE DE GESTION ET DE TECHNOLOGIE <br>
                Accreditation No: 049/MESRS/CAB/DC/SGM/DPP/DPES/SA <br>
            </h4>
            <h4 class="text-center">Address: Vedoko, Opposite Sanya Motors after carrefour "La vie"</h4>
            <h5 class="text-center times-font">
                <a href="www.esgt-benin.com"><u>www.esgt-benin.com</u></a>, <a href=""><u>esgtbenin@gmail.com</u></a>
                <br>
                Tel: (+229) 61483075, 96559194, 67457564
            </h5>
        </div>
        <div class="col-md-2"><img src="{{ asset('dist/img/benin.PNG') }}" alt="BENIN" class="img-fluid"
            ></div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 times-font pt-2"><h4><b>Dear {{ selStudent.lastname }} {{ selStudent.firstname }},</b></h4>
        </div>
        <div class="col-md-6 times-font text-right"><h4><b>Date: {{ date|date('d-m-Y') }}</b></h4></div>
    </div>
    <div class="row mt-5">
        <h3 class="text-center font-weight-bold">
            <u>
                OFFER OF PROVISIONAL ADMISSION INTO
                {% set engineering = 0 %}
                {% if selStudent.department.departmentCode == 'CET' or selStudent.department.departmentCode == 'EEE' %}
                    {% set engineering = 1 %}
                {% endif %}
                {% if selStudent.level == 400 %}
                    A
                {% endif %}

                {% if selStudent.level == 300 and engineering is same as(1) %}
                    A TWO (2)
                {% elseif selStudent.level == 300 and engineering is same as(0) %}
                    A
                {% endif %}

                {% if selStudent.level == 200 and engineering is same as(1) %}
                    A THREE (3)
                {% elseif selStudent.level == 200 and engineering is same as(0) %}
                    A TWO (2)
                {% endif %}

                {% if selStudent.level == 100 and engineering is same as(1) %}
                    A FOUR (4)
                {% elseif selStudent.level == 100 and engineering is same as(0) %}
                    A THREE (3)
                {% endif %}
                YEAR
                {% if selStudent.admission == 0 %}
                    BACHELOR
                {% else %}
                    MASTERS
                {% endif %}
                DEGREE PROGRAMME FOR
                THE {{ admissionYear }} ACADEMIC SESSION
            </u>
        </h3>
    </div>
    <div class="row mt-3">
        <h4 style="line-height: 1.4">
            With reference to your recent application for admission into a Bachelor Degree Programme in ESGT-Benin. I am
            pleased to inform you that you have been offered provisional Admission for
            {% if selStudent.level == 400 %}
                a
            {% endif %}

            {% if selStudent.level == 300 and engineering is same as(1) %}
                a two (2)
            {% elseif selStudent.level == 300 and engineering is same as(0) %}
                a
            {% endif %}

            {% if selStudent.level == 200 and engineering is same as(1) %}
                a three (3)
            {% elseif  selStudent.level == 200 and engineering is same as(0) %}
                a two (2)
            {% endif %}

            {% if selStudent.level == 100 and engineering is same as(1) %}
                a four (4)
            {% elseif selStudent.level == 100 and engineering is same as(0) %}
                a three (3)
            {% endif %}

            year
            {% if selStudent.admission == 0 %}
                Bachelor
            {% else %}
                Masters
            {% endif %}
            Degree Programme for the {{ admissionYear }} Academic Year in <b>{{ selStudent.department.title }}
                Department.</b>
            <br>
            This offer of admission will effect from the commencement of the {{ admissionYear }} academic
            session,
            subject to the following conditions:
            <table width="100%" style="line-height: 0.2;margin-bottom: 20px;">
                {% set i = -1 %}
                {% set div = 0 %}
                {% set total = 0 %}
                {% for f in feesType %}
                    <tr>
                        <td>
                            <ul style="margin-top: 20px;margin-bottom: 20px">

                                <li>
                                    {% set i = i + 1 %}
                                    {% set total = total +  feeamount[i] %}
                                    <b>{{ f }}: </b>
                                </li>

                            </ul>
                        </td>
                        <td><b>{{ feeamount[ i ]|number_format(0,'.',',') }} Naira</b></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td style="padding-top: 20px">
                        <ul style="margin-top: 20px;margin-bottom: 20px">

                            <li>
                                <b>TOTAL: </b>
                            </li>

                        </ul>
                    </td>
                    <td style="padding-top: 20px"><b>{{ total|number_format(0,'.',',') }} Naira</b></td>
                </tr>
            </table>
            {% set div= 0.4 * total %}
            The student is expected
            to complete their registration by paying full payment or forty percent (40%) of the tuition
            which is <b>{{ div|number_format(0,'.',',') }} Naira</b>, two (2) weeks before resumption date.
            <br>
            Without prejudice to all other rules and regulations in the University including those that may
            be made from time to time, your admission shall deem automatically withdrawn if at any point
            in time it is discovered that you made false claims
            <br>
            You will be expected to present the Original of the relevant Certificates (Educational and Birth) on
            which admission was based, and passport Photographs for verification.
            Accept my congratulations on your admission.
        </h4>
    </div>
    <div>
        <img src="{{ asset('dist/img/esgt-stamp.PNG') }}" alt="registar" style="height: 300px;">
    </div>
</div>
</body>
</html>