<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ESGT-BENIN ADMISSION FORM</title>
    <link href="{{ asset('dist/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
</head>
<style>
    .times-font {
        font-family: "Times New Roman";
    }

    .esgt-text {
        font-size: 56px;
    }

    body {
        background: url("../../dist/img/logo-fade.png");
        -webkit-background-size: auto;
        /*background-size: contain;*/
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
<body>
<div class="container">
    <div class="row mb-3">
        <form action="{{ path('sendGeneratedAdmissionForm') }}" class="col-md-12" method="post">
            <input type="hidden" name="selStudent" value="{{ selStudent.id }}">
            <input type="hidden" name="feeamount" value="{{ js_feeamounts }}">
            <input type="hidden" name="admissionYear" value="{{ admissionYear }}">
            <input type="hidden" name="feesType" value="{{ js_feesType }}">
            {#{% if praticalfee is not empty %}#}
            {#<input type="hidden" name="praticalfee" value="{{ praticalfee }}">#}
            {#{% endif %}#}
            <input type="hidden" name="selDept" value="{{ selStudent.department.id }}">
            <input type="hidden" name="selStudentLevel" value="{{ selStudent.level }}">
            <input type="hidden" name="date" value="{{ date|date('d-m-Y') }}">
            <h5 class="text-center font-weight-bold">This a preview of the admission form that will be sent to the
                student</h5>
            <button type="submit" class="btn btn-danger d-block mx-auto">SEND TO STUDENT <i
                        class="fa fa-envelope-o"></i></button>
        </form>
    </div>
    <div class="row">
        {#{% set div=0 %}#}
        {#{% set div= 0.4* tuitionfee %}#}
        <div class="col-md-2"><img src="{{ asset('dist/img/logo.png') }}" alt="LOGO" class="img-fluid"
            ></div>
        <div class="col-md-8 pt-5">
            <h1 class="text-center times-font font-weight-bold esgt-text"><a href="javascript:void(0)">ESGT-BENIN
                    UNIVERSITY</a></h1>
            <h4 class="text-center times-font">ECOLE SUPERIEURE DE GESTION ET DE TECHNOLOGIE <br>
                Accreditation No: 049/MESRS/CAB/DC/SGM/DPP/DPES/SA <br>
            </h4>
            <h4 class="text-center">Address: Vedoko, Opposite Sanya Motors after carrefour "La vie"</h4>
            <h5 class="text-center times-font">
                <a href="www.esgt-benin.com"><u>www.esgt-benin.com</u></a>, <a href=""><u>esgtbenin@gmail.com</u></a>
                <br>
                Tel: (+229) 61483075, 96559194, 67457564
            </h5>
        </div>
        <div class="col-md-2"><img src="{{ asset('dist/img/benin.PNG') }}" alt="BENIN" class="img-fluid"
            ></div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 times-font pt-2"><h4><b>Dear {{ selStudent.lastname }} {{ selStudent.firstname }},</b></h4>
        </div>
        <div class="col-md-6 times-font text-right"><h4><b>Date: {{ date|date('d-m-Y') }}</b></h4></div>
    </div>
    <div class="row mt-5">
        <h3 class="text-center font-weight-bold">
            <u>
                OFFER OF PROVISIONAL ADMISSION INTO MASTERS OF SCIENCE IN ENGINEERING
                FOR THE {{ admissionYear }} ACADEMIC SESSION
            </u>
        </h3>
    </div>
    <div class="row mt-3">
        <h4 style="line-height: 1.4">
            With reference to your recent application for admission into Master of Science in Engineering in the
            University, I am
            pleased to inform you that you have been offered provisional Admission to pursue an academic programme
            leading to the
            award of <b> Masters of Science in Engineering</b> in the <b>{{ selStudent.department.title }}
                department</b>
            for the {{ admissionYear }} Academic Session with effect from the date you accept this offer of Admission on
            Full Time basis
            <br>
            Please take note of the following conditions, which are related to your Admission and registration:
            <br>
            <div style="padding-left:15px">
                <ol>
                    <li>This offer of Admission is strictly provisional and may be revoked if: <br>
                        <table width="100%" style="margin-top: 10px;" cellpadding="8">
                            <tr>
                                <td valign="top">a.</td>
                                <td>You fail to formally accept this offer by paying the <b>{{ feesType[0] }}</b> of
                                    <b>{{ feeamount[0]|number_format(0,'.',',') }} Naira</b> only within two (2) weeks
                                    of notification of Admission and other charges within three (3) weeks after
                                    payment of Acceptance Fee;
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">b.</td>
                                <td>
                                    You cannot produce at the time of registration, the original copies of your
                                    certificates, transcripts and other
                                    academic credentials.
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li>The duration of your course and other conditions relating to it are as outlined on the School of
                        Post Graduate
                        Studies (SPGS) portal of the University website (<a href="https://www.esgt-benin.com"><u>https://www.esgt-benin.com</u></a>)
                    </li>
                    <li>
                        It is mandatory that you appear in person for clearance at the Admission Office of the School of
                        Post Graduate
                        Studies (SPGS). Please note that this offer will be revoked and your slot will be given to
                        someone else, if within
                        six (6) weeks from the date of this letter, you have neither completed and returned the printed
                        Acceptance
                        letter nor submitted the originals of your credentials for clearance.
                    </li>
                    <li>Payment of all Fees must be made immediately, after completing screening exercise as provisional offer of
                        Admission may lapse thereafter.</li>
                    <li>
                        It should be noted that if it is discovered at any time that you do not possess any of the qualifications which you
                        have listed or claimed to have obtained or you have supplied any false information, the Admission will be
                        withdrawn immediately.
                    </li>
                </ol>
                <p>Please accept my Congratulations on behalf of the University.</p>
                <p>Yours faithfully,</p>
            </div>


        </h4>
    </div>
    <div>
        <img src="{{ asset('dist/img/esgt-stamp.PNG') }}" alt="registar" style="height: 300px;">
    </div>
</div>
</body>
</html>