{% extends 'base.html.twig' %}

{% block title %}Students{% endblock %}

{% block body %}
    <h1>Students</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ student.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ student.lastname }}</td>
            </tr>
            <tr>
                <th>MatricNo</th>
                <td>{{ student.matricNo }}</td>
            </tr>
            <tr>
                <th>DateOfBirth</th>
                <td>{{ student.dateOfBirth ? student.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ student.gender ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>AdmissionType</th>
                <td>{{ student.admissionType }}</td>
            </tr>
            <tr>
                <th>LevelOfEntry</th>
                <td>{{ student.levelOfEntry }}</td>
            </tr>
            <tr>
                <th>Waiting</th>
                <td>{{ student.waiting ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Admission</th>
                <td>{{ student.admission ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ student.created ? student.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('students_index') }}">back to list</a>

    <a href="{{ path('students_edit', {'id': student.id}) }}">edit</a>

    {{ include('students/_delete_form.html.twig') }}
{% endblock %}
