{% extends 'base.html.twig' %}

{% block title %}Students sponsor list{% endblock %}
        {% block stylesheets %}
            {{ parent() }}
            <!-- data tables -->
            <link href="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}"
                  rel="stylesheet"
                  type="text/css"/>
        {% endblock %}

{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                    class="fa fa-angle-right"></i>
                        </li>
                        <li class="active"><a href="#">Students</a></li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>List of students sponsor</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-wrap">
                                <div class="table-responsive">

                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Student</th>
                                            <th>Sponsor</th>
                                            <th>Status</th>
                                            <th>Date of entry</th>
                                            <th>Paiement Date</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set i= 0 %}
                                        {% for l in list %}
                                            {% set i= i+ 1 %}
                                            <tr>
                                                <td>{{ i }}</td>
                                                <td>{{ l.student.firstname }} {{ l.student.lastname }}
                                                    ({{ l.student.matricNo }})
                                                </td>
                                                <td>
                                                    {% if l.sponsor is not null %}
                                                        {{ l.sponsor.firstname }} {{ l.sponsor.lastname }}
                                                        ({{ l.sponsor.matricNo }})
                                                    {% else %}
                                                        {{ l.sponsorAgent.firstname }} {{ l.sponsorAgent.lastname }} (Agent)
                                                    {% endif %}
                                                </td>
                                                <td>{{ l.paid ? '<span class="badge badge-success">PAID</span>' : '<span class="badge badge-warning">NOT PAID</span>' }}</td>
                                                <td>{{ l.created|date('d/m/Y') }}</td>
                                                <td>
                                                    {% if l.paidDate is not null %}
                                                        {{ l.paidDate|date('d/m/Y') }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if l.paid == 0 %}
                                                        <a href="{{ path('paystudentSponsorList', {'id': l.id}) }}"
                                                           class="btn btn-danger">PAY</a>
                                                    {% else %}
                                                        <a href="javascript:void(0)"
                                                           class="btn btn-danger" disabled>PAY</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="11">no records found</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
    <!-- data tables -->
    <script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/table/table_data.js') }}"></script>
{% endblock %}

