{% extends 'base.html.twig' %}

{% block title %}Students waiting list{% endblock %}

{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                    class="fa fa-angle-right"></i>
                        </li>
                        <li class="active"><a href="#">Students waiting list</a></li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="row">
                <div class="col-lg-9">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Students waiting list</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-wrap">
                                <div class="table-responsive">

                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Matric N°</th>
                                            <th>Fullname</th>
                                            <th>Gender</th>
                                            <th>Program</th>
                                            <th>Waiting</th>
                                            {#<th>Admission</th>#}
                                            <th>Created</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% include 'students/list.html.twig' with {'students' : students} %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    {% include 'students/filter.html.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
        <script src="{{ asset('dist/material/material.min.js') }}"></script>
    {% endblock %}

