{% extends 'base.html.twig' %}

{% block title %}Exams Question{% endblock %}

{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                    class="fa fa-angle-right"></i>
                        </li>
                        <li><a href="{{ path('students_index') }}">Students</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li><a href="{{ path('exams_index') }}">Exams</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active"><a href="{{ path('question_list',{'id':examquestion.exam.id}) }}">Exams Question List</a></li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Set exam questions
                                {#<a href="{{ path('exams_new') }}" class="btn btn-success">Create#}
                                {#exams</a>#}
                            </header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="{{ path('modify_question') }}" method="post">
                                <div id="examquestions">
                                    <input type="hidden" value="{{ examquestion.exam.id }}" name="exam">
                                    <div class="exam-question-space border border-success pr-3 pl-3 pb-3">
                                        <div class="row">
                                            <div class="col-md-12 pr-0 text-center w-100">
                                                <div class="d-flex flex-row bd-highlight mb-3 w-100">
                                                    <div class="bd-highlight w-75">
                                                        <h4 class=" font-weight-bold text-left">
                                                            Question {{ examquestion.ref|upper }}</h4>
                                                    </div>

                                                    <div class="bd-highlight mt-3">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text" id="basic-addon1"> <i
                                                                            class="fa fa-clock"></i></span>
                                                            </div>
                                                            <input type="text" class="form-control"
                                                                   placeholder="Duration (in seconds)"
                                                                   value="{{ examquestion.duration }}"
                                                                   aria-label="Username" name="duration"
                                                                   aria-describedby="basic-addon1" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="hidden" name="questionid" value="{{ examquestion.id }}">
                                                <textarea name="question" class="tinymce-enabled-message"
                                                          id="textareamain">
                                                    {{ examquestion.question|raw }}
                                                </textarea>
                                            </div>

                                        </div>
                                        <hr>
                                        <h5 class="font-weight-bold">Enter Answer below</h5>
                                        <hr>
                                        {% set i= -1 %}
                                        {% for examanswer in examanswers %}
                                            {% set i= i+ 1 %}
                                            <div class="row pt-2">
                                                <div class="col-md-1 pl-0">
                                                    {% if examanswer.isanswer == 1 %}
                                                        <input type="radio" class="form-control"
                                                               name="realAnswerQ1"
                                                               value="{{ i }}" checked>
                                                    {% else %}
                                                        <input type="radio" class="form-control"
                                                               name="realAnswerQ1"
                                                               value="{{ i }}" >
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-10 pl-0">
                                                    <input type="text" required placeholder="" class="form-control"
                                                           name="answerQ1[]" value="{{ examanswer.answer }}">
                                                </div>
                                            </div>
                                            {% else %}
                                                <div class="row">
                                                    <div class="col-md-1 pl-0">
                                                        <input type="radio" class="form-control" name="realAnswerQ1" id="realAnswerQ1" value="0">
                                                    </div>
                                                    <div class="col-md-10 pl-0">
                                                        <input type="text" required placeholder="" class="form-control"
                                                               name="answerQ1[]">
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-1 pl-0">
                                                        <input type="radio" class="form-control" name="realAnswerQ1" value="1">
                                                    </div>
                                                    <div class="col-md-10 pl-0">
                                                        <input type="text" required placeholder="" class="form-control"
                                                               name="answerQ1[]">
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-1 pl-0">
                                                        <input type="radio" class="form-control" name="realAnswerQ1" value="2">
                                                    </div>
                                                    <div class="col-md-10 pl-0">
                                                        <input type="text" required placeholder="" class="form-control"
                                                               name="answerQ1[]">
                                                    </div>
                                                </div>
                                                <div class="row pt-2">
                                                    <div class="col-md-1 pl-0">
                                                        <input type="radio" class="form-control" name="realAnswerQ1" value="3">
                                                    </div>
                                                    <div class="col-md-10 pl-0">
                                                        <input type="text" required placeholder="" class="form-control"
                                                               name="answerQ1[]">
                                                    </div>
                                                </div>
                                        {% endfor %}

                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <input type="hidden" value="2" id="">

                                    <button type="submit" class="btn btn-info mx-auto"><i
                                                class="fa fa-arrow-right"></i> Modify question
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('dist/js/tinymce.min.js') }}"></script>
    <script src="{{ asset('dist/js/tinymceinit.js') }}"></script>

    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
    <script>

    </script>
{% endblock %}
