<div class="exam-question-space border border-success pr-3 pl-3 pb-3">
    <div class="row">
        <div class="col-md-12 pr-0 text-center">
            <h4 class=" font-weight-bold">
                Qusetion {{ counter }}</h4>
        </div>
        <div class="col-md-12">
            <textarea name="question[]" class="area{{ counter }}"></textarea>
        </div>

    </div>
    <hr>
    <h5 class="font-weight-bold">Enter Answer below</h5>
    <hr>
    <div class="row">
        <div class="col-md-1 pl-0">
            <input type="radio" class="form-control" name="realAnswerQ{{ counter }}">
        </div>
        <div class="col-md-10 pl-0">
            <input type="text" placeholder="" class="form-control"
                   name="answerQ{{ counter }}[]">
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-md-1 pl-0">
            <input type="radio" class="form-control" name="realAnswerQ{{ counter }}">
        </div>
        <div class="col-md-10 pl-0">
            <input type="text" placeholder="" class="form-control"
                   name="answerQ{{ counter }}[]">
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-md-1 pl-0">
            <input type="radio" class="form-control" name="realAnswerQ{{ counter }}">
        </div>
        <div class="col-md-10 pl-0">
            <input type="text" placeholder="" class="form-control"
                   name="answerQ{{ counter }}[]">
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-md-1 pl-0">
            <input type="radio" class="form-control" name="realAnswerQ{{ counter }}">
        </div>
        <div class="col-md-10 pl-0">
            <input type="text" placeholder="" class="form-control"
                   name="answerQ{{ counter }}[]">
        </div>
    </div>
</div>
{% block stylesheets %}
    <script type="text/javascript" src="{{ asset('dist/js/tinymce.min.js') }}"></script>
    <script>

        tinymce.init({
            selector: '.area{{ counter }}',
            height: 150,
            theme: 'modern',
            // language: 'fr_FR',
            plugins: 'print preview fullpage searchreplace autolink directionality visualblocks visualchars fullscreen image link template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount spellchecker imagetools contextmenu colorpicker textpattern help',
            toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat ',
            image_advtab: true,
            templates: [
                {title: 'Test template 1', content: 'Test 1'},
                {title: 'Test template 2', content: 'Test 2'}
            ],
//            file_browser_callback_types: 'file image media',
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css'
            ]
        });
    </script>
{% endblock %}
{#<link href="{{ asset('dist/plugins/summernote/summernote.css') }}" rel="stylesheet">#}
