{% extends 'base.html.twig' %}

{% block title %}Question List{% endblock %}

{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                                    class="fa fa-angle-right"></i>
                        </li>
                        <li><a href="#">Students</a>&nbsp;<i class="fa fa-angle-right"></i></li>
                        <li class="active"><a href="#">Exams</a></li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>
                                {{ exam.title }} Exam question list
                                <a href="{{ path('set_question', {'id': exam.id}) }}" class="btn btn-success">
                                    Add exam questions</a>
                            </header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table id="example1" class="display table-striped" style="width:100%;">
                                        <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Question</th>
                                            <th>Duration</th>
                                            <th>Points</th>
                                            <th>Created</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set i= 0 %}
                                        {% for examquestion in examquestions %}
                                        {% set i= i+ 1 %}
                                        <tr>
                                            <td>{{ i }}</td>
                                            <td>Question {{ examquestion.ref|upper }}</td>
                                            <td>{{ examquestion.duration }} sec</td>
                                            <td>{{ examquestion.points }}</td>
                                            <td>{{ examquestion.created|date('d-m-Y') }}</td>
                                            <td>
                                                <a href="{{ path('edit_question', {'id': examquestion.id}) }}"
                                                   class="btn" title="Edit question">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                               {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <a href="{{ path('delete_question', {'id': examquestion.id}) }}"
                                                   class="btn" title="Delete question" onclick="return confirm('Are you sure you want to delete this question?');">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="6" class="text-center">no records found</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- data tables -->
    <link href="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- data tables -->
    <script src="{{ asset('dist/plugins/datatables/jquery.dataTables.min.js') }}" ></script>
    <script src="{{ asset('dist/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js') }}" ></script>
    <script src="{{ asset('dist/js/pages/table/table_data.js') }}" ></script>
    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
{% endblock %}