{{ form_start(form) }}
<div class="row">
    <div class="col-lg-12 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.student) }} <span class="text-danger">*</span>
            {{ form_widget(form.student , {'attr' : {'class' : 'studentSelection w-100','onchange':'ajax.getStudentInFo();'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.bedNo) }} <span class="text-danger">*</span>
            {{ form_widget(form.bedNo , {'attr' : {'class' : 'form-control','placeholder' : 'E.g ESGTB-001'}}
            ) }}
        </div>
    </div>
    <div class="col-lg-6 p-t-5">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
            {{ form_label(form.room) }} <span class="text-danger">*</span>
            {{ form_widget(form.room , {'attr' : {'class' : 'form-control'}}
            ) }}
        </div>
    </div>

    </div>

<button class="btn btn-success w-100">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
