<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">S/N</th>
            <th class="text-center">Student</th>
            <th class="text-center">Bed No</th>
            <th class="text-center">Room</th>
            <th class="text-center">Created</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% set i= 0 %}
            {% for hostel in hostels %}
                {% set i= i+ 1 %}
                    <tr>
                        <td class="text-center">{{i}}</td>
                        <td class="text-center">{{ hostel.student.lastname }} {{ hostel.student.firstname }} ({{ hostel.student.matricNo }})</td>
                        <td class="text-center">{{ hostel.bedNo }}</td>
                        <td class="text-center">{{ hostel.room }}</td>
                        <td class="text-center">{% if hostel.created %}{{ hostel.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td class="text-center">

                            <a href="{{ path('hostel_edit', { 'id': hostel.id }) }}" class="btn btn-info">Edit</a>
                            <a href="{{ path('hostel_delete', { 'id': hostel.id }) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this bed?');"><i class="fa fa-trash"></i></a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>