{% extends 'base.html.twig' %}

{% block title %}
    Hostel Management
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/plugins/select2/css/select2.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('dist/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li>
                            <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li class="">
                            <a href="#">Extra</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">
                            <a href="#">Hostel Management</a>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Hostel Bed Creation</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            {{ include('hostel/form.html.twig') }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Student info</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="displayStudentInfo"><p class="text-center">Selected student's info are displayed here</p></div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>{% endblock %}{% block javascripts %}
{{ parent() }}
<script src="{{ asset('dist/js/app.js') }}"></script>
<script src="{{ asset('dist/js/layout.js') }}"></script>
<script src="{{ asset('dist/js/theme-color.js') }}"></script>
<script src="{{ asset('dist/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js') }}"></script>

<link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
<script src="{{ asset('dist/material/material.min.js') }}"></script>
<script src="{{ asset('dist/plugins/select2/js/select2.js') }}"></script>
<script src="{{ asset('dist/js/AutoNumeric.min.js') }}"></script>

<script type="text/javascript">
    jQuery(function ($) {

        new AutoNumeric(".amount", {
            decimalCharacterAlternative: " ",
            decimalPlacesRawValue: 0,
            modifyValueOnWheel: false,
            unformatOnHover: true,
            unformatOnSubmit: true
        });


    });
</script>

<script>
    $('.studentSelection').select2({
        theme: "bootstrap",
        // width: 95 %
    });
</script>{% endblock %}
