{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hostel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hostel.id }}</td>
            </tr>
            <tr>
                <th>Student</th>
                <td>{{ hostel.student }}</td>
            </tr>
            <tr>
                <th>Bedno</th>
                <td>{{ hostel.bedNo }}</td>
            </tr>
            <tr>
                <th>Room</th>
                <td>{{ hostel.room }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if hostel.created %}{{ hostel.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hostel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('hostel_edit', { 'id': hostel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
