<table class="w-100 table">
    <tr>
        <th>Student Names</th>
        <th class="text-uppercase">Test(20)</th>
        <th class="text-uppercase">EXAM(60)</th>
        <th class="text-uppercase">Attendance(10)</th>
        <th class="text-uppercase">Assignment(10)</th>
        <th class="text-uppercase">Total</th>
        {#<th><i class="fa fa-ellipsis-h"></i></th>#}
    </tr>
    {% for keys,s in list %}
        <tr>
            {% for g in generatedlist if g.student.id == s.student.id %}
                <td>{{ s.student.lastname }} {{ s.student.firstname }} <input type="hidden" name="students[]"
                                                                              value="{{ s.student.id }}"></td>
                <td>
                    <input name="testscores[]" required type="number" value="{{ generatedlist[keys].test }}"
                           class="form-control w-50">
                </td>
                <td>
                    <input name="examscores[]" required type="number" value="{{ generatedlist[keys].exam }}"
                           class="form-control w-50">
                </td>
                <td>
                    <input name="attendancescores[]" required type="number" value="{{ generatedlist[keys].attendance }}"
                           class="form-control w-50">
                </td>
                <td>
                    <input name="assignmentscore[]" required type="number" value="{{ generatedlist[keys].assignment }}"
                           class="form-control w-50">
                </td>
                <td>
                    <input name="total" type="number" readonly value="{{ generatedlist[keys].total }}"
                           class="form-control w-50">
                </td>
            {% else %}
                <td>{{ s.student.lastname }} {{ s.student.firstname }} <input type="hidden" name="students[]"
                                                                              value="{{ s.student.id }}"></td>
                <td>
                    <input name="testscores[]" required type="number" value="0.00" class="form-control w-50">
                </td>
                <td>
                    {% if s.onlineexam %}
                        <input name="examscores[]" required type="number" readonly value="{{ s.onlinescore }}"
                               class="form-control w-50">
                    {% else %}
                        <input name="examscores[]" required type="number" value="0.00" class="form-control w-50">
                    {% endif %}
                </td>
                <td>
                    <input name="attendancescores[]" required type="number" value="0.00" class="form-control w-50">
                </td>
                <td>
                    <input name="assignmentscore[]" required type="number" value="0.00" class="form-control w-50">
                </td>
                <td>
                    <input name="total" type="number" readonly value="0.00" class="form-control w-50">
                </td>
            {% endfor %}
            {#<td><a href="javascript:void(0)"><i class="fa fa-calculator"></i></a></td>#}
        </tr>
    {% endfor %}
</table>
