{% extends 'base.html.twig' %}

{% block title %}ScoreSheet{% endblock %}

    {% block body %}
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">Home</a>&nbsp;<i
                            class="fa fa-angle-right"></i>
                        </li>

                        <li class="active"><a href="#">Scoresheets</a></li>
                    </ol>
                </div>
            </div>
            <!-- add content here -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>{{ course.title }} Scoresheets</header>
                            <div class="tools">
                                <a class="fas fa-redo btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <form action="{{ path('save_scoresheet') }}" method="POST">
                                        <div class="row mb-3">
                                            <div class="col-md-10 pt-3">
                                            {% if generatedlist is not empty %}
                                                <select name="semester" id="" required class="form-control">
                                                    {% if generatedlist[0].semester == 1 %}
                                                        <option value="">Select the semester</option>
                                                        <option value="1" selected>1st Semester</option>
                                                        <option value="2">2nd Semester</option>
                                                        <option value="3">Summer Semester</option>
                                                    {% elseif generatedlist[0].semester == 2 %}
                                                        <option value="">Select the semester</option>
                                                        <option value="1">1st Semester</option>
                                                        <option value="2" selected>2nd Semester</option>
                                                        <option value="3">Summer Semester</option>
                                                    {% elseif generatedlist[0].semester == 3 %}
                                                        <option value="">Select the semester</option>
                                                        <option value="1">1st Semester</option>
                                                        <option value="2">2nd Semester</option>
                                                        <option value="3" selected>Summer Semester</option>
                                                    {% endif %}
                                                </select>
                                            {% else %}
                                             <select name="semester" id="" required class="form-control">
                                                <option value="">Select the semester</option>
                                                <option value="1">1st Semester</option>
                                                <option value="2">2nd Semester</option>
                                                <option value="3">Summer Semester</option>
                                            </select>
                                        {% endif %}
                                        </div>
                                        <div class="col-md-2">
                                        <button type="submit" class="btn btn-success mt-3 mb-3">Save Progress</button>
                                        </div>

                                    </div>
                                    <input type="hidden" value="{{ course.id }}" name="course">
                                    {% include 'scoresheets/list.html.twig' with {'list' : list,'generatedlist':generatedlist} %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('dist/js/app.js') }}"></script>
    <script src="{{ asset('dist/js/layout.js') }}"></script>
    <script src="{{ asset('dist/js/theme-color.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('dist/material/material.min.css') }}">
    <script src="{{ asset('dist/material/material.min.js') }}"></script>
{% endblock %}